$bpTbl: 600px;
$bpLpt: 905px;
$bpDsk: 1240px;
$bpDskStable: 1440px;

$primary: #2275ff;
$surfaceA: #ffffff;
$surfaceB: #fbfcfe;

body {
  font-family: 'Lato', sans-serif;
}

#sec1 {
  .wrap {
    padding-top: 112px;
    background: linear-gradient($surfaceB, $surfaceA);
  }
  .bg--circle {
    position: absolute;
    top: -720px;
    left: 50%;
    z-index: -1;
    width: 1440px;
    aspect-ratio: 1 / 1;
    background-color: $primary;
    transform: translateX(-50%);
  }
  .wordmark {
    height: 96px;
    margin-bottom: 56px;
  }
  .shot--main {
    max-width: 375px;
    margin-bottom: 32px;
  }
  .catchphrase {
    margin-inline: 16px;
    font-weight: 700;
    color: $primary;
  }
}

@media (max-width: 406px) {
  #sec1 {
    .bg--circle {
      width: calc(1440px - (407px - 100vw));
    }
    .catchphrase {
      font-size: calc(28 / 407 * 100vw);
      line-height: 1.5;
    }
  }
}

#sec2 {
  .wrap2 {
    max-width: 533px;
  }
}
