body {
  font-family: "Lato", sans-serif;
}

#sec1 .wrap {
  padding-top: 112px;
  background: linear-gradient(#fbfcfe, #ffffff);
}
#sec1 .bg--circle {
  position: absolute;
  top: -720px;
  left: 50%;
  z-index: -1;
  width: 1440px;
  aspect-ratio: 1/1;
  background-color: #2275ff;
  transform: translateX(-50%);
}
#sec1 .wordmark {
  height: 96px;
  margin-bottom: 56px;
}
#sec1 .shot--main {
  max-width: 375px;
  margin-bottom: 32px;
}
#sec1 .catchphrase {
  margin-inline: 16px;
  font-weight: 700;
  color: #2275ff;
}

@media (max-width: 406px) {
  #sec1 .bg--circle {
    width: calc(1440px - (407px - 100vw));
  }
  #sec1 .catchphrase {
    font-size: 6.8796068796vw;
    line-height: 1.5;
  }
}
#sec2 .wrap2 {
  max-width: 533px;
}