$bpTbl: 600px;
$bpLpt: 905px;
$bpDsk: 1240px;
$bpDskStable: 1440px;

@mixin font($size, $hierarchy) {
  $fontSize: 12px;
  $fontWeight: 400;
  $lineHeight: 16px;
  $letterSpacing: 0.4px;
  @if ($size == 0) {
    // s
    @if ($hierarchy == 1) {
      // label
      $fontSize: 11px;
      $fontWeight: 500;
      $letterSpacing: 0.5px;
    } @else if ($hierarchy == 2) {
      // title
      $fontSize: 14px;
      $fontWeight: 500;
      $lineHeight: 20px;
      $letterSpacing: 0.1px;
    } @else if ($hierarchy == 3) {
      // headline
      $fontSize: 24px;
      $lineHeight: 32px;
      $letterSpacing: 0px;
    } @else if ($hierarchy == 4) {
      // display
      $fontSize: 36px;
      $lineHeight: 44px;
      $letterSpacing: 0px;
    }
  } @else if ($size == 1) {
    //m
    $fontSize: 14px;
    $lineHeight: 20px;
    $letterSpacing: 0.25px;
    @if ($hierarchy == 1) {
      // label
      $fontSize: 12px;
      $fontWeight: 500;
      $lineHeight: 16px;
      $letterSpacing: 0.5px;
    } @else if ($hierarchy == 2) {
      // title
      $fontSize: 16px;
      $fontWeight: 500;
      $lineHeight: 24px;
      $letterSpacing: 0.1px;
    } @else if ($hierarchy == 3) {
      // headline
      $fontSize: 28px;
      $lineHeight: 36px;
      $letterSpacing: 0px;
    } @else if ($hierarchy == 4) {
      // display
      $fontSize: 45px;
      $lineHeight: 52px;
      $letterSpacing: 0px;
    }
  } @else if ($size == 2) {
    //l
    $fontSize: 16px;
    $lineHeight: 24px;
    $letterSpacing: 0.5px;
    @if ($hierarchy == 1) {
      // label
      $fontSize: 14px;
      $fontWeight: 500;
      $lineHeight: 20px;
      $letterSpacing: 0.1px;
    } @else if ($hierarchy == 2) {
      // title
      $fontSize: 22px;
      $lineHeight: 28px;
      $letterSpacing: 0px;
    } @else if ($hierarchy == 3) {
      // headline
      $fontSize: 32px;
      $lineHeight: 40px;
      $letterSpacing: 0px;
    } @else if ($hierarchy == 4) {
      // display
      $fontSize: 57px;
      $lineHeight: 64px;
      $letterSpacing: -0.25px;
    }
  }
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin applyFontToTag($size) {
  :root,
  p {
    @include font($size, 0);
  }

  @for $i from 1 through 6 {
    h#{$i} {
      @include font($size, max(0, 5 - $i));
    }
  }
}

@mixin gridItemMod($prefix, $through) {
  @for $i from 1 through $through {
    .#{$prefix}-gridX-#{$i} {
      grid-column-start: $i;
    }
    .#{$prefix}-gridW-#{$i} {
      grid-column: auto / span $i;
    }
  }
}

@mixin hnd {
  $column: 4;
  $columnGap: 16px;
  $rowGap: 16px;
  $margin: 16px;
  $fontSize: 1;
  @media (max-width: #{$bpTbl - 1px}) {
    @include applyFontToTag($fontSize);
    .section {
      .container {
        .grid,
        .flex {
          row-gap: $rowGap;
          column-gap: $columnGap;
          margin-inline: $margin;
        }
        .grid {
          grid-template-columns: repeat($column, 1fr);
          > * {
            @include gridItemMod('hnd', $column);
          }
        }
      }
      .margin {
        display: none;
      }
    }
  }
}

@mixin tbl {
  $column: 8;
  $columnGap: 24px;
  $rowGap: 24px;
  $margin: 32px;
  $fontSize: 2;
  @media (min-width: #{$bpTbl}) and (max-width: #{$bpLpt - 1px}) {
    @include applyFontToTag($fontSize);
    .section {
      .container {
        .grid,
        .flex {
          row-gap: $rowGap;
          column-gap: $columnGap;
          margin-inline: $margin;
        }
        .grid {
          grid-template-columns: repeat($column, 1fr);
          > * {
            @include gridItemMod('tbl', $column);
          }
        }
      }
      .margin {
        display: none;
      }
    }
  }
}

@mixin lpt {
  $column: 12;
  $columnGap: 24px;
  $rowGap: 24px;
  // $margin: 0;
  $margin: 32px;
  $fontSize: 2;
  @media (min-width: #{$bpLpt}) and (max-width: #{$bpDsk - 1px}) {
    @include applyFontToTag($fontSize);
    .section {
      .container {
        // width: 840px;
        width: 904px;
        .grid,
        .flex {
          row-gap: $rowGap;
          column-gap: $columnGap;
          margin-inline: $margin;
        }
        .grid {
          grid-template-columns: repeat($column, 1fr);
          > * {
            @include gridItemMod('lpt', $column);
          }
        }
      }
      // .margin {
      //   display: none;
      // }
    }
  }
}
@mixin dsk {
  $column: 12;
  $columnGap: 24px;
  $rowGap: 24px;
  $margin: calc(84 / 1440 * 100%);
  $fontSize: 2;
  @media (min-width: #{$bpDsk}) and (max-width: #{$bpDskStable - 1px}) {
    @include applyFontToTag($fontSize);
    .section {
      .container {
        width: 100%;
        .grid,
        .flex {
          row-gap: $rowGap;
          column-gap: $columnGap;
          margin-inline: $margin;
        }
        .grid {
          grid-template-columns: repeat($column, 1fr);
          > * {
            @include gridItemMod('dsk', $column);
          }
        }
      }
      .margin {
        display: none;
      }
    }
  }
}

@mixin dskStable {
  $column: 12;
  $columnGap: 24px;
  $rowGap: 24px;
  $margin: 84px;
  $fontSize: 2;
  @media (min-width: #{$bpDskStable}) {
    @include applyFontToTag($fontSize);
    .section {
      .container {
        width: 1440px;
        .grid,
        .flex {
          row-gap: $rowGap;
          column-gap: $columnGap;
          margin-inline: $margin;
        }
        .grid {
          grid-template-columns: repeat($column, 1fr);
          > * {
            @include gridItemMod('dsk', $column);
          }
        }
      }
    }
  }
}
