@mixin font($size, $hierarchy) {
  $fontSize: 12px;
  $fontWeight: 400;
  $lineHeight: 16px;
  $letterSpacing: 0.4px;
  @if ($size == 0) {
    // s
    @if ($hierarchy == 1) {
      // label
      $fontSize: 11px;
      $fontWeight: 500;
      $letterSpacing: 0.5px;
    } @else if ($hierarchy == 2) {
      // title
      $fontSize: 14px;
      $fontWeight: 500;
      $lineHeight: 20px;
      $letterSpacing: 0.1px;
    } @else if ($hierarchy == 3) {
      // headline
      $fontSize: 24px;
      $lineHeight: 32px;
      $letterSpacing: 0px;
    } @else if ($hierarchy == 4) {
      // display
      $fontSize: 36px;
      $lineHeight: 44px;
      $letterSpacing: 0px;
    }
  } @else if ($size == 1) {
    //m
    $fontSize: 14px;
    $lineHeight: 20px;
    $letterSpacing: 0.25px;
    @if ($hierarchy == 1) {
      // label
      $fontSize: 12px;
      $fontWeight: 500;
      $lineHeight: 16px;
      $letterSpacing: 0.5px;
    } @else if ($hierarchy == 2) {
      // title
      $fontSize: 16px;
      $fontWeight: 500;
      $lineHeight: 24px;
      $letterSpacing: 0.1px;
    } @else if ($hierarchy == 3) {
      // headline
      $fontSize: 28px;
      $lineHeight: 36px;
      $letterSpacing: 0px;
    } @else if ($hierarchy == 4) {
      // display
      $fontSize: 45px;
      $lineHeight: 52px;
      $letterSpacing: 0px;
    }
  } @else if ($size == 2) {
    //l
    $fontSize: 16px;
    $lineHeight: 24px;
    $letterSpacing: 0.5px;
    @if ($hierarchy == 1) {
      // label
      $fontSize: 14px;
      $fontWeight: 500;
      $lineHeight: 20px;
      $letterSpacing: 0.1px;
    } @else if ($hierarchy == 2) {
      // title
      $fontSize: 22px;
      $lineHeight: 28px;
      $letterSpacing: 0px;
    } @else if ($hierarchy == 3) {
      // headline
      $fontSize: 32px;
      $lineHeight: 40px;
      $letterSpacing: 0px;
    } @else if ($hierarchy == 4) {
      // display
      $fontSize: 57px;
      $lineHeight: 64px;
      $letterSpacing: -0.25px;
    }
  }
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

@mixin applyFontToTag($size) {
  :root,
  p {
    @include font($size, 0);
  }

  @for $i from 1 through 6 {
    h#{$i} {
      @include font($size, max(0, 5 - $i));
    }
  }
}
