@mixin grid() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid--l() {
  $columnGap: 24px;
  $rowGap: $columnGap;
  $paddingBlock: $columnGap;
  .grid {
    @include grid;
    row-gap: $rowGap;
    column-gap: $columnGap;
    padding-block: $paddingBlock;
    &--padding {
      padding-inline: calc(88 / 1400 * 100%);
    }
    &__item {
      display: flex;
      flex-flow: column nowrap;
      row-gap: $rowGap * 0.5;
      align-items: center;
      justify-content: center;
      &:first-child:nth-last-child(1) {
        width: 100%;
      }
      @for $i from 2 through 12 {
        @if (12 % $i == 0) {
          &:first-child:nth-last-child(#{$i}),
          &:first-child:nth-last-child(#{$i}) ~ & {
            width: calc(
              (100% - $columnGap * 11) / $i + $columnGap * (12 / $i - 1)
            );
          }
        }
      }
      @for $i from 1 through 12 {
        &--w-#{$i} {
          width: calc(
            (100% - $columnGap * 11) / 12 * $i + $columnGap * ($i - 1)
          ) !important;
        }
      }
    }
  }
}

@mixin grid--s() {
  $columnGap: 16px;
  $rowGap: $columnGap;
  $paddingBlock: $columnGap;
  .grid {
    @include grid;
    row-gap: $rowGap;
    column-gap: $columnGap;
    padding-block: $paddingBlock;
    &--padding {
      padding-inline: 32px;
    }
    &__item {
      display: flex;
      flex-flow: column nowrap;
      row-gap: $rowGap * 0.5;
      align-items: center;
      justify-content: center;
      &:first-child:nth-last-child(1) {
        width: 100%;
      }
      @for $i from 2 through 12 {
        @if (12 % $i == 0) {
          &:first-child:nth-last-child(#{$i}),
          &:first-child:nth-last-child(#{$i}) ~ & {
            width: calc(
              (100% - $columnGap * 11) / $i + $columnGap * (12 / $i - 1)
            );
          }
        }
      }
      @for $i from 1 through 12 {
        &--w-#{$i} {
          width: calc(
            (100% - $columnGap * 11) / 12 * $i + $columnGap * ($i - 1)
          ) !important;
        }
      }
    }
  }
}

@mixin grid--xs() {
  $columnGap: 16px;
  $rowGap: $columnGap;
  $paddingBlock: $columnGap;
  .grid {
    @include grid;
    row-gap: $rowGap;
    column-gap: $columnGap;
    padding-block: $paddingBlock;
    &--padding {
      padding-inline: 16px;
    }
    &__item {
      display: flex;
      flex-flow: column nowrap;
      row-gap: $rowGap * 0.5;
      align-items: center;
      justify-content: center;
      &:first-child:nth-last-child(1) {
        width: 100%;
      }
      @for $i from 2 through 12 {
        @if (12 % $i == 0) {
          &:first-child:nth-last-child(#{$i}),
          &:first-child:nth-last-child(#{$i}) ~ & {
            width: calc(
              (100% - $columnGap * 11) / $i + $columnGap * (12 / $i - 1)
            );
          }
        }
      }
      @for $i from 1 through 12 {
        &--w-#{$i} {
          width: calc(
            (100% - $columnGap * 11) / 12 * $i + $columnGap * ($i - 1)
          ) !important;
        }
      }
    }
  }
}

@mixin type--l() {
  :root,
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
  }

  h6 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
  }

  h1 {
    font-size: 57px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.25px;
  }
}

@mixin type--m() {
  :root,
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
  }
  h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
  }
  h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0px;
  }
}

@mixin type--s() {
  :root,
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
  }
  h6 {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
  }
  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
  }
  h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0px;
  }
}
