$base-unit: 4px;

$utilities: (
  'padding': (
    'prefix': 'p',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'padding-top': (
    'prefix': 'pt',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'padding-right': (
    'prefix': 'pr',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'padding-bottom': (
    'prefix': 'pb',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'padding-left': (
    'prefix': 'pl',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'padding-inline': (
    'prefix': 'pin',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'padding-block': (
    'prefix': 'pbl',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'margin': (
    'prefix': 'm',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'margin-top': (
    'prefix': 'mt',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'margin-right': (
    'prefix': 'mr',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'margin-bottom': (
    'prefix': 'mb',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'margin-left': (
    'prefix': 'ml',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'margin-inline': (
    'prefix': 'min',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
  'margin-block': (
    'prefix': 'mbl',
    'values': (
      '0': 0,
      '1': $base-unit * 1,
      '2': $base-unit * 2,
      '3': $base-unit * 3,
      '4': $base-unit * 4,
      '5': $base-unit * 5,
      '6': $base-unit * 6,
      '7': $base-unit * 7,
      '8': $base-unit * 8,
      '9': $base-unit * 9,
      '10': $base-unit * 10,
      '11': $base-unit * 11,
      '12': $base-unit * 12,
      '13': $base-unit * 13,
      '14': $base-unit * 14,
      '15': $base-unit * 15,
      '16': $base-unit * 16,
    ),
  ),
);

@each $property, $map in $utilities {
  $prefix: map-get($map, 'prefix');
  $values: map-get($map, 'values');

  @each $k, $v in $values {
    @if ($k == 'default') {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
