.al {
  display: flex;
}
.al-dir-x.al-align-tl {
  align-items: flex-start;
  justify-content: flex-start;
}
.al-dir-x.al-align-cl {
  align-items: center;
  justify-content: flex-start;
}
.al-dir-x.al-align-bl {
  align-items: flex-end;
  justify-content: flex-start;
}
.al-dir-x.al-align-tc {
  align-items: flex-start;
  justify-content: center;
}
.al-dir-x.al-align-cc {
  align-items: center;
  justify-content: center;
}
.al-dir-x.al-align-bc {
  align-items: flex-end;
  justify-content: center;
}
.al-dir-x.al-align-tr {
  align-items: flex-start;
  justify-content: flex-end;
}
.al-dir-x.al-align-cr {
  align-items: center;
  justify-content: flex-end;
}
.al-dir-x.al-align-br {
  align-items: flex-end;
  justify-content: flex-end;
}
.al-dir-y.al-align-tl {
  align-items: flex-start;
  justify-content: flex-start;
}
.al-dir-y.al-align-cl {
  align-items: flex-start;
  justify-content: center;
}
.al-dir-y.al-align-bl {
  align-items: flex-start;
  justify-content: flex-end;
}
.al-dir-y.al-align-tc {
  align-items: center;
  justify-content: flex-start;
}
.al-dir-y.al-align-cc {
  align-items: center;
  justify-content: center;
}
.al-dir-y.al-align-bc {
  align-items: center;
  justify-content: flex-end;
}
.al-dir-y.al-align-tr {
  align-items: flex-end;
  justify-content: flex-start;
}
.al-dir-y.al-align-cr {
  align-items: flex-end;
  justify-content: center;
}
.al-dir-y.al-align-br {
  align-items: flex-end;
  justify-content: flex-end;
}