.al {
  display: flex;
}
.al-direction-x {
  flex-direction: row;
}
.al-direction-x.al-align-tl {
  align-items: flex-start;
  justify-content: flex-start;
}
.al-direction-x.al-align-cl {
  align-items: center;
  justify-content: flex-start;
}
.al-direction-x.al-align-bl {
  align-items: flex-end;
  justify-content: flex-start;
}
.al-direction-x.al-align-tc {
  align-items: flex-start;
  justify-content: center;
}
.al-direction-x.al-align-cc {
  align-items: center;
  justify-content: center;
}
.al-direction-x.al-align-bc {
  align-items: flex-end;
  justify-content: center;
}
.al-direction-x.al-align-tr {
  align-items: flex-start;
  justify-content: flex-end;
}
.al-direction-x.al-align-cr {
  align-items: center;
  justify-content: flex-end;
}
.al-direction-x.al-align-br {
  align-items: flex-end;
  justify-content: flex-end;
}
.al-direction-x.al-textAlign-baseline {
  align-items: baseline;
}
.al-direction-y {
  flex-direction: column;
}
.al-direction-y.al-align-tl {
  align-items: flex-start;
  justify-content: flex-start;
}
.al-direction-y.al-align-cl {
  align-items: flex-start;
  justify-content: center;
}
.al-direction-y.al-align-bl {
  align-items: flex-start;
  justify-content: flex-end;
}
.al-direction-y.al-align-tc {
  align-items: center;
  justify-content: flex-start;
}
.al-direction-y.al-align-cc {
  align-items: center;
  justify-content: center;
}
.al-direction-y.al-align-bc {
  align-items: center;
  justify-content: flex-end;
}
.al-direction-y.al-align-tr {
  align-items: flex-end;
  justify-content: flex-start;
}
.al-direction-y.al-align-cr {
  align-items: flex-end;
  justify-content: center;
}
.al-direction-y.al-align-br {
  align-items: flex-end;
  justify-content: flex-end;
}
.al-gap-1:not(.al-spacing-spaceBetween) {
  gap: 4px;
}
.al-gap-2:not(.al-spacing-spaceBetween) {
  gap: 8px;
}
.al-gap-3:not(.al-spacing-spaceBetween) {
  gap: 12px;
}
.al-gap-4:not(.al-spacing-spaceBetween) {
  gap: 16px;
}
.al-gap-5:not(.al-spacing-spaceBetween) {
  gap: 20px;
}
.al-gap-6:not(.al-spacing-spaceBetween) {
  gap: 24px;
}
.al-gap-7:not(.al-spacing-spaceBetween) {
  gap: 28px;
}
.al-gap-8:not(.al-spacing-spaceBetween) {
  gap: 32px;
}
.al-gap-9:not(.al-spacing-spaceBetween) {
  gap: 36px;
}
.al-gap-10:not(.al-spacing-spaceBetween) {
  gap: 40px;
}
.al-gap-11:not(.al-spacing-spaceBetween) {
  gap: 44px;
}
.al-gap-12:not(.al-spacing-spaceBetween) {
  gap: 48px;
}
.al-gap-13:not(.al-spacing-spaceBetween) {
  gap: 52px;
}
.al-gap-14:not(.al-spacing-spaceBetween) {
  gap: 56px;
}
.al-gap-15:not(.al-spacing-spaceBetween) {
  gap: 60px;
}
.al-gap-16:not(.al-spacing-spaceBetween) {
  gap: 64px;
}
.al.al-spacing-spaceBetween {
  justify-content: space-between;
}
.al > * {
  flex: none;
  flex-grow: 0;
}
.al > .w-fillContainer {
  flex-grow: 1;
}
.al > .h-fillContainer {
  align-self: stretch;
}