.grid {
  &__item.override {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        background-color: rgba($color: #fff, $alpha: 0.5);
      }
    }
  }
}

.sizeSamples {
  background-color: #00f;
  .container {
    background-color: rgba($color: #fff, $alpha: 0.5);
  }
}
