.grid__item.override:nth-child(1) {
  background-color: rgb(255, 21, 0);
}
.grid__item.override:nth-child(2) {
  background-color: rgb(255, 43, 0);
}
.grid__item.override:nth-child(3) {
  background-color: rgb(255, 64, 0);
}
.grid__item.override:nth-child(4) {
  background-color: rgb(255, 85, 0);
}
.grid__item.override:nth-child(5) {
  background-color: rgb(255, 106, 0);
}
.grid__item.override:nth-child(6) {
  background-color: rgb(255, 128, 0);
}
.grid__item.override:nth-child(7) {
  background-color: rgb(255, 149, 0);
}
.grid__item.override:nth-child(8) {
  background-color: rgb(255, 170, 0);
}
.grid__item.override:nth-child(9) {
  background-color: rgb(255, 191, 0);
}
.grid__item.override:nth-child(10) {
  background-color: rgb(255, 213, 0);
}
.grid__item.override:nth-child(11) {
  background-color: rgb(255, 234, 0);
}
.grid__item.override:nth-child(12) {
  background-color: rgb(255, 255, 0);
}