:root {
  background-color: #3b3b3b;
}
.section .container .frame--grid > * {
  background-color: #fff8f8;
}
.section .container .frame--flex > * {
  background-color: #f6fbfd;
}
.section > .margin {
  background-color: #424c5a;
}
.code {
  padding-inline: 2px;
  font-weight: 700;
  color: #ba5143;
  background-color: #fafafa;
}
li {
  margin-bottom: 4px;
}
