.grid__item.override:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.5);
}
.grid__item.override:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.5);
}
.grid__item.override:nth-child(3) {
  background-color: rgba(255, 255, 255, 0.5);
}
.grid__item.override:nth-child(4) {
  background-color: rgba(255, 255, 255, 0.5);
}

.sizeSamples {
  background-color: #00f;
}
.sizeSamples .container {
  background-color: rgba(255, 255, 255, 0.5);
}