@import 'mixin';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: black;
}

.section {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: center;
  padding-bottom: 60px;
  background-color: white;
  .container {
    flex: 0 1 auto;
    .frame {
      &--grid {
        display: grid;
        > * {
          background-color: lightskyblue;
        }
      }
      &--flex {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: center;
        > * {
          background-color: lightcoral;
        }
      }
      &--noMargin {
        margin-inline: 0 !important;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  > .margin {
    flex: 1 1 auto;
    &--left {
      background-color: transparent;
    }
    &--right {
      background-color: transparent;
    }
  }
}

@include hnd;
@include tbl;
@include lpt;
@include dsk;
@include dskStable;

// hnd
@media (max-width: #{$bpTbl - 1px}) {
}

// tbl
@media (min-width: #{$bpTbl}) and (max-width: #{$bpLpt - 1px}) {
}

// lpt
@media (min-width: #{$bpLpt}) and (max-width: #{$bpDsk - 1px}) {
}

// dsk
@media (min-width: #{$bpDsk}) and (max-width: #{$bpDskStable - 1px}) {
}

// dskStable
@media (min-width: #{$bpDskStable}) {
}
