* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  background-color: black;
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  background-color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 30px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  min-height: 60px;
}
.grid--padding {
  padding-inline: 6.7142857143%;
}
.grid__item {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.grid__item:first-child:nth-last-child(1) {
  grid-column: auto/span 12;
}
.grid__item:first-child:nth-last-child(2), .grid__item:first-child:nth-last-child(2) ~ .grid__item {
  grid-column: auto/span 6;
}
.grid__item:first-child:nth-last-child(3), .grid__item:first-child:nth-last-child(3) ~ .grid__item {
  grid-column: auto/span 4;
}
.grid__item:first-child:nth-last-child(4), .grid__item:first-child:nth-last-child(4) ~ .grid__item {
  grid-column: auto/span 3;
}
.grid__item:first-child:nth-last-child(6), .grid__item:first-child:nth-last-child(6) ~ .grid__item {
  grid-column: auto/span 2;
}
.grid__item:first-child:nth-last-child(12), .grid__item:first-child:nth-last-child(12) ~ .grid__item {
  grid-column: auto/span 1;
}
.grid__item--w-1 {
  grid-column: auto/span 1 !important;
}
.grid__item--w-2 {
  grid-column: auto/span 2 !important;
}
.grid__item--w-3 {
  grid-column: auto/span 3 !important;
}
.grid__item--w-4 {
  grid-column: auto/span 4 !important;
}
.grid__item--w-5 {
  grid-column: auto/span 5 !important;
}
.grid__item--w-6 {
  grid-column: auto/span 6 !important;
}
.grid__item--w-7 {
  grid-column: auto/span 7 !important;
}
.grid__item--w-8 {
  grid-column: auto/span 8 !important;
}
.grid__item--w-9 {
  grid-column: auto/span 9 !important;
}
.grid__item--w-10 {
  grid-column: auto/span 10 !important;
}
.grid__item--w-11 {
  grid-column: auto/span 11 !important;
}
.grid__item--w-12 {
  grid-column: auto/span 12 !important;
}
.grid__item--x-1 {
  grid-column-start: 1 !important;
}
.grid__item--x-2 {
  grid-column-start: 2 !important;
}
.grid__item--x-3 {
  grid-column-start: 3 !important;
}
.grid__item--x-4 {
  grid-column-start: 4 !important;
}
.grid__item--x-5 {
  grid-column-start: 5 !important;
}
.grid__item--x-6 {
  grid-column-start: 6 !important;
}
.grid__item--x-7 {
  grid-column-start: 7 !important;
}
.grid__item--x-8 {
  grid-column-start: 8 !important;
}
.grid__item--x-9 {
  grid-column-start: 9 !important;
}
.grid__item--x-10 {
  grid-column-start: 10 !important;
}
.grid__item--x-11 {
  grid-column-start: 11 !important;
}
.grid__item--x-12 {
  grid-column-start: 12 !important;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

h6 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0px;
}

h1 {
  font-size: 57px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -0.25px;
}

@media (max-width: 991px) {
  .grid {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }

  :root {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  h6 {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
  }

  h1 {
    font-size: 45px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0px;
  }
}
@media (max-width: 767px) {
  .grid {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .grid__item:first-child:nth-last-child(1) {
    grid-column: auto/span 12;
  }
  .grid__item:first-child:nth-last-child(2), .grid__item:first-child:nth-last-child(2) ~ .grid__item {
    grid-column: auto/span 12;
  }
  .grid__item:first-child:nth-last-child(3), .grid__item:first-child:nth-last-child(3) ~ .grid__item {
    grid-column: auto/span 12;
  }
  .grid__item:first-child:nth-last-child(4), .grid__item:first-child:nth-last-child(4) ~ .grid__item {
    grid-column: auto/span 12;
  }
  .grid__item:first-child:nth-last-child(6), .grid__item:first-child:nth-last-child(6) ~ .grid__item {
    grid-column: auto/span 12;
  }
  .grid__item:first-child:nth-last-child(12), .grid__item:first-child:nth-last-child(12) ~ .grid__item {
    grid-column: auto/span 12;
  }
  .grid__item--w-1 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-2 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-3 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-4 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-5 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-6 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-7 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-8 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-9 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-10 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-11 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--w-12 {
    grid-column: auto/span 12 !important;
  }
  .grid__item--x-1 {
    grid-column-start: auto !important;
  }
  .grid__item--x-2 {
    grid-column-start: auto !important;
  }
  .grid__item--x-3 {
    grid-column-start: auto !important;
  }
  .grid__item--x-4 {
    grid-column-start: auto !important;
  }
  .grid__item--x-5 {
    grid-column-start: auto !important;
  }
  .grid__item--x-6 {
    grid-column-start: auto !important;
  }
  .grid__item--x-7 {
    grid-column-start: auto !important;
  }
  .grid__item--x-8 {
    grid-column-start: auto !important;
  }
  .grid__item--x-9 {
    grid-column-start: auto !important;
  }
  .grid__item--x-10 {
    grid-column-start: auto !important;
  }
  .grid__item--x-11 {
    grid-column-start: auto !important;
  }
  .grid__item--x-12 {
    grid-column-start: auto !important;
  }

  :root {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
  }

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.4px;
  }

  h6 {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
  }

  h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
  }

  h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
  }

  h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0px;
  }
}