@mixin autolayout(
  $isDirX: true,
  $gap: 0px,
  $alignX: 'l',
  $alignY: 't',
  $isPacked: true,
  $isAlignBaseline: false
) {
  display: flex;
  flex-wrap: nowrap;
  gap: $gap;
  $alignXProp: flex-start;
  @if ($alignX == 'c') {
    $alignXProp: center;
  } @else if ($alignX == 'r') {
    $alignXProp: flex-end;
  }
  $alignYProp: flex-start;
  @if ($alignY == 'c') {
    $alignYProp: center;
  } @else if ($alignY == 'b') {
    $alignYProp: flex-end;
  }
  @if ($isAlignBaseline) {
    $isDirX: true;
  }
  @if ($isDirX) {
    flex-direction: row;
    @if ($isAlignBaseline) {
      align-items: baseline;
    } @else {
      align-items: $alignYProp;
    }
    @if ($isPacked) {
      justify-content: $alignXProp;
    } @else {
      justify-content: space-between;
    }
  } @else {
    flex-direction: column;
    align-items: $alignXProp;
    @if ($isPacked) {
      justify-content: $alignYProp;
    } @else {
      justify-content: space-between;
    }
  }
}
