@use 'sass:color';
@use 'sass:math';

@function blend-transparent($bg, $fg) {
  $aFg: opacity($fg);
  $aBg: opacity($bg);
  $a: $aFg + $aBg * (1 - $aFg);
  // $factor: $aBg * (1 - $aFg);
  $r: math.round(
    calc(
      (color.red($fg) * $aFg + color.red($bg) * $aBg * (1 - $aFg)) /
        ($aFg + $aBg * (1 - $aFg))
    )
  );
  $g: math.round(
    calc(
      (color.green($fg) * $aFg + color.green($bg) * $aBg * (1 - $aFg)) /
        ($aFg + $aBg * (1 - $aFg))
    )
  );
  $b: math.round(
    calc(
      (color.blue($fg) * $aFg + color.blue($bg) * $aBg * (1 - $aFg)) /
        ($aFg + $aBg * (1 - $aFg))
    )
  );
  @return rgba($r, $g, $b, $a);
}
