body {
  background-color: #1b1b1f;
}

.section {
  position: relative;
  display: grid;
  grid-template-rows: minmax(0, auto) 10px;
}
.section:not(:first-of-type), .section:not(:only-of-type) {
  margin-top: -10px;
}
.section:last-of-type, .section:only-of-type {
  grid-template-rows: minmax(0, auto) 0;
}
.section:last-of-type .container--py-0, .section:only-of-type .container--py-0 {
  padding-block: 0;
}
.section:last-of-type .container--pb-0, .section:only-of-type .container--pb-0 {
  padding-bottom: 0;
}
.section__bg {
  position: relative;
  z-index: -1;
}
.section__bg--left {
  grid-row: 1/span 2;
  grid-column: 1/span 1;
  background-color: transparent;
}
.section__bg--right {
  grid-row: 1/span 2;
  grid-column: 3/span 1;
  background-color: transparent;
}

.container {
  grid-row: 1/span 2;
  grid-column: 2/span 1;
  width: 100%;
  overflow: hidden;
  background-color: #fdfbff;
}
.container.grid {
  display: grid;
}
.container.grid--rowH-even {
  grid-auto-rows: minmax(0, 1fr);
}
.container.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}
.container.flex > * {
  overflow: hidden;
}
.container.container--w-full {
  grid-column: 1/span 3;
}
.container--h-full {
  min-height: 100vh;
}
.container.container--px-0 {
  padding-inline: 0;
}
.container.container--py-0 {
  padding-top: 0;
  padding-bottom: 10px;
}
.container.container--pt-0 {
  padding-top: 0;
}
.container.container--pb-0 {
  padding-bottom: 10px;
}

@media (min-width: 0px) and (max-width: 599px) {
  .section__bg {
    display: none;
  }

  .container {
    grid-column: 1/span 3;
  }

  .section {
    grid-template-columns: 0 100% 0;
  }

  .container {
    padding-inline: 16px;
    padding-top: 24px;
    padding-bottom: 34px;
  }
  .container.grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 16px;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .flex > *:first-child:nth-last-child(1), .flex > *:first-child:nth-last-child(1) ~ * {
    flex-basis: 100%;
  }
  .flex > *:first-child:nth-last-child(2), .flex > *:first-child:nth-last-child(2) ~ * {
    flex-basis: 50%;
  }
  .flex > *:first-child:nth-last-child(3), .flex > *:first-child:nth-last-child(3) ~ * {
    flex-basis: 33.3333333333%;
  }
  .flex > *:first-child:nth-last-child(4), .flex > *:first-child:nth-last-child(4) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(5), .flex > *:first-child:nth-last-child(5) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(6), .flex > *:first-child:nth-last-child(6) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(7), .flex > *:first-child:nth-last-child(7) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(8), .flex > *:first-child:nth-last-child(8) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(9), .flex > *:first-child:nth-last-child(9) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(10), .flex > *:first-child:nth-last-child(10) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(11), .flex > *:first-child:nth-last-child(11) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(12), .flex > *:first-child:nth-last-child(12) ~ * {
    flex-basis: 25%;
  }
}
@media (min-width: 600px) and (max-width: 904px) {
  .section__bg {
    display: none;
  }

  .container {
    grid-column: 1/span 3;
  }

  .section {
    grid-template-columns: 0 100% 0;
  }

  .container {
    padding-inline: 32px;
    padding-top: 36px;
    padding-bottom: 46px;
  }
  .container.grid {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    row-gap: 24px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .flex > *:first-child:nth-last-child(1), .flex > *:first-child:nth-last-child(1) ~ * {
    flex-basis: 100%;
  }
  .flex > *:first-child:nth-last-child(2), .flex > *:first-child:nth-last-child(2) ~ * {
    flex-basis: 50%;
  }
  .flex > *:first-child:nth-last-child(3), .flex > *:first-child:nth-last-child(3) ~ * {
    flex-basis: 33.3333333333%;
  }
  .flex > *:first-child:nth-last-child(4), .flex > *:first-child:nth-last-child(4) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(5), .flex > *:first-child:nth-last-child(5) ~ * {
    flex-basis: 20%;
  }
  .flex > *:first-child:nth-last-child(6), .flex > *:first-child:nth-last-child(6) ~ * {
    flex-basis: 16.6666666667%;
  }
  .flex > *:first-child:nth-last-child(7), .flex > *:first-child:nth-last-child(7) ~ * {
    flex-basis: 14.2857142857%;
  }
  .flex > *:first-child:nth-last-child(8), .flex > *:first-child:nth-last-child(8) ~ * {
    flex-basis: 12.5%;
  }
  .flex > *:first-child:nth-last-child(9), .flex > *:first-child:nth-last-child(9) ~ * {
    flex-basis: 12.5%;
  }
  .flex > *:first-child:nth-last-child(10), .flex > *:first-child:nth-last-child(10) ~ * {
    flex-basis: 12.5%;
  }
  .flex > *:first-child:nth-last-child(11), .flex > *:first-child:nth-last-child(11) ~ * {
    flex-basis: 12.5%;
  }
  .flex > *:first-child:nth-last-child(12), .flex > *:first-child:nth-last-child(12) ~ * {
    flex-basis: 12.5%;
  }
}
@media (min-width: 905px) and (max-width: 1239px) {
  .section {
    grid-template-columns: 1fr 904px 1fr;
  }

  .container {
    padding-inline: 32px;
    padding-top: 36px;
    padding-bottom: 46px;
  }
  .container.grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: 24px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .flex > *:first-child:nth-last-child(1), .flex > *:first-child:nth-last-child(1) ~ * {
    flex-basis: 100%;
  }
  .flex > *:first-child:nth-last-child(2), .flex > *:first-child:nth-last-child(2) ~ * {
    flex-basis: 50%;
  }
  .flex > *:first-child:nth-last-child(3), .flex > *:first-child:nth-last-child(3) ~ * {
    flex-basis: 33.3333333333%;
  }
  .flex > *:first-child:nth-last-child(4), .flex > *:first-child:nth-last-child(4) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(5), .flex > *:first-child:nth-last-child(5) ~ * {
    flex-basis: 20%;
  }
  .flex > *:first-child:nth-last-child(6), .flex > *:first-child:nth-last-child(6) ~ * {
    flex-basis: 16.6666666667%;
  }
  .flex > *:first-child:nth-last-child(7), .flex > *:first-child:nth-last-child(7) ~ * {
    flex-basis: 14.2857142857%;
  }
  .flex > *:first-child:nth-last-child(8), .flex > *:first-child:nth-last-child(8) ~ * {
    flex-basis: 12.5%;
  }
  .flex > *:first-child:nth-last-child(9), .flex > *:first-child:nth-last-child(9) ~ * {
    flex-basis: 11.1111111111%;
  }
  .flex > *:first-child:nth-last-child(10), .flex > *:first-child:nth-last-child(10) ~ * {
    flex-basis: 10%;
  }
  .flex > *:first-child:nth-last-child(11), .flex > *:first-child:nth-last-child(11) ~ * {
    flex-basis: 9.0909090909%;
  }
  .flex > *:first-child:nth-last-child(12), .flex > *:first-child:nth-last-child(12) ~ * {
    flex-basis: 8.3333333333%;
  }
}
@media (min-width: 1240px) and (max-width: 9999px) {
  .section {
    grid-template-columns: 1fr minmax(0, 1440px) 1fr;
  }

  .container {
    padding-inline: min(5.8333333333%, 84px);
    padding-top: 36px;
    padding-bottom: 46px;
  }
  .container.grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    row-gap: 24px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .flex > *:first-child:nth-last-child(1), .flex > *:first-child:nth-last-child(1) ~ * {
    flex-basis: 100%;
  }
  .flex > *:first-child:nth-last-child(2), .flex > *:first-child:nth-last-child(2) ~ * {
    flex-basis: 50%;
  }
  .flex > *:first-child:nth-last-child(3), .flex > *:first-child:nth-last-child(3) ~ * {
    flex-basis: 33.3333333333%;
  }
  .flex > *:first-child:nth-last-child(4), .flex > *:first-child:nth-last-child(4) ~ * {
    flex-basis: 25%;
  }
  .flex > *:first-child:nth-last-child(5), .flex > *:first-child:nth-last-child(5) ~ * {
    flex-basis: 20%;
  }
  .flex > *:first-child:nth-last-child(6), .flex > *:first-child:nth-last-child(6) ~ * {
    flex-basis: 16.6666666667%;
  }
  .flex > *:first-child:nth-last-child(7), .flex > *:first-child:nth-last-child(7) ~ * {
    flex-basis: 14.2857142857%;
  }
  .flex > *:first-child:nth-last-child(8), .flex > *:first-child:nth-last-child(8) ~ * {
    flex-basis: 12.5%;
  }
  .flex > *:first-child:nth-last-child(9), .flex > *:first-child:nth-last-child(9) ~ * {
    flex-basis: 11.1111111111%;
  }
  .flex > *:first-child:nth-last-child(10), .flex > *:first-child:nth-last-child(10) ~ * {
    flex-basis: 10%;
  }
  .flex > *:first-child:nth-last-child(11), .flex > *:first-child:nth-last-child(11) ~ * {
    flex-basis: 9.0909090909%;
  }
  .flex > *:first-child:nth-last-child(12), .flex > *:first-child:nth-last-child(12) ~ * {
    flex-basis: 8.3333333333%;
  }
}
@media (min-width: 0px) {
  .container .grid-w-half {
    grid-column-end: span 2;
  }
  .container .grid-w-full {
    grid-column-end: span 4;
  }
  .container .grid-w-1 {
    grid-column-end: span 1;
  }
  .container .grid-h-1 {
    grid-row-end: span 1;
  }
  .container .grid-h-2 {
    grid-row-end: span 2;
  }
  .container .grid-w-3 {
    grid-column-end: span 3;
  }
  .container .grid-h-3 {
    grid-row-end: span 3;
  }
  .container .grid-h-4 {
    grid-row-end: span 4;
  }
  .container .grid-x-1 {
    grid-column-start: 1;
  }
  .container .grid-y-1 {
    grid-row-start: 1;
  }
  .container .grid-x-1-w-1 {
    grid-column: 1 / span 1;
  }
  .container .grid-x-1-w-2 {
    grid-column: 1 / span 2;
  }
  .container .grid-x-1-w-3 {
    grid-column: 1 / span 3;
  }
  .container .grid-x-1-w-4 {
    grid-column: 1 / span 4;
  }
  .container .grid-y-1-h-1 {
    grid-row: 1 / span 1;
  }
  .container .grid-y-1-h-2 {
    grid-row: 1 / span 2;
  }
  .container .grid-y-1-h-3 {
    grid-row: 1 / span 3;
  }
  .container .grid-y-1-h-4 {
    grid-row: 1 / span 4;
  }
  .container .grid-y-1-h-5 {
    grid-row: 1 / span 5;
  }
  .container .grid-y-1-h-6 {
    grid-row: 1 / span 6;
  }
  .container .grid-y-1-h-7 {
    grid-row: 1 / span 7;
  }
  .container .grid-y-1-h-8 {
    grid-row: 1 / span 8;
  }
  .container .grid-y-1-h-9 {
    grid-row: 1 / span 9;
  }
  .container .grid-y-1-h-10 {
    grid-row: 1 / span 10;
  }
  .container .grid-y-1-h-11 {
    grid-row: 1 / span 11;
  }
  .container .grid-y-1-h-12 {
    grid-row: 1 / span 12;
  }
  .container .grid-x-2 {
    grid-column-start: 2;
  }
  .container .grid-y-2 {
    grid-row-start: 2;
  }
  .container .grid-x-2-w-1 {
    grid-column: 2 / span 1;
  }
  .container .grid-x-2-w-2 {
    grid-column: 2 / span 2;
  }
  .container .grid-x-2-w-3 {
    grid-column: 2 / span 3;
  }
  .container .grid-y-2-h-1 {
    grid-row: 2 / span 1;
  }
  .container .grid-y-2-h-2 {
    grid-row: 2 / span 2;
  }
  .container .grid-y-2-h-3 {
    grid-row: 2 / span 3;
  }
  .container .grid-y-2-h-4 {
    grid-row: 2 / span 4;
  }
  .container .grid-y-2-h-5 {
    grid-row: 2 / span 5;
  }
  .container .grid-y-2-h-6 {
    grid-row: 2 / span 6;
  }
  .container .grid-y-2-h-7 {
    grid-row: 2 / span 7;
  }
  .container .grid-y-2-h-8 {
    grid-row: 2 / span 8;
  }
  .container .grid-y-2-h-9 {
    grid-row: 2 / span 9;
  }
  .container .grid-y-2-h-10 {
    grid-row: 2 / span 10;
  }
  .container .grid-y-2-h-11 {
    grid-row: 2 / span 11;
  }
  .container .grid-x-3 {
    grid-column-start: 3;
  }
  .container .grid-y-3 {
    grid-row-start: 3;
  }
  .container .grid-x-3-w-1 {
    grid-column: 3 / span 1;
  }
  .container .grid-x-3-w-2 {
    grid-column: 3 / span 2;
  }
  .container .grid-y-3-h-1 {
    grid-row: 3 / span 1;
  }
  .container .grid-y-3-h-2 {
    grid-row: 3 / span 2;
  }
  .container .grid-y-3-h-3 {
    grid-row: 3 / span 3;
  }
  .container .grid-y-3-h-4 {
    grid-row: 3 / span 4;
  }
  .container .grid-y-3-h-5 {
    grid-row: 3 / span 5;
  }
  .container .grid-y-3-h-6 {
    grid-row: 3 / span 6;
  }
  .container .grid-y-3-h-7 {
    grid-row: 3 / span 7;
  }
  .container .grid-y-3-h-8 {
    grid-row: 3 / span 8;
  }
  .container .grid-y-3-h-9 {
    grid-row: 3 / span 9;
  }
  .container .grid-y-3-h-10 {
    grid-row: 3 / span 10;
  }
  .container .grid-x-4 {
    grid-column-start: 4;
  }
  .container .grid-y-4 {
    grid-row-start: 4;
  }
  .container .grid-x-4-w-1 {
    grid-column: 4 / span 1;
  }
  .container .grid-y-4-h-1 {
    grid-row: 4 / span 1;
  }
  .container .grid-y-4-h-2 {
    grid-row: 4 / span 2;
  }
  .container .grid-y-4-h-3 {
    grid-row: 4 / span 3;
  }
  .container .grid-y-4-h-4 {
    grid-row: 4 / span 4;
  }
  .container .grid-y-4-h-5 {
    grid-row: 4 / span 5;
  }
  .container .grid-y-4-h-6 {
    grid-row: 4 / span 6;
  }
  .container .grid-y-4-h-7 {
    grid-row: 4 / span 7;
  }
  .container .grid-y-4-h-8 {
    grid-row: 4 / span 8;
  }
  .container .grid-y-4-h-9 {
    grid-row: 4 / span 9;
  }

  .section .container .flex-w-full {
    flex-basis: 100%;
  }
  .section .container .flex-w-half {
    flex-basis: 50%;
  }
  .section .container .flex-w-1-3 {
    flex-basis: 33.3333333333%;
  }
  .section .container .flex-w-2-3 {
    flex-basis: 66.6666666667%;
  }
  .section .container .flex-w-1-4 {
    flex-basis: 25%;
  }
  .section .container .flex-w-3-4 {
    flex-basis: 75%;
  }

  .section--hidden {
    display: none;
  }
}
@media (min-width: 600px) {
  .container .grid-w-half {
    grid-column-end: span 4;
  }
  .container .grid-w-full {
    grid-column-end: span 8;
  }
  .container .tbl-grid-w-half {
    grid-column-end: span 4;
  }
  .container .tbl-grid-w-full {
    grid-column-end: span 8;
  }
  .container .tbl-grid-w-1 {
    grid-column-end: span 1;
  }
  .container .tbl-grid-h-1 {
    grid-row-end: span 1;
  }
  .container .tbl-grid-w-2 {
    grid-column-end: span 2;
  }
  .container .tbl-grid-h-2 {
    grid-row-end: span 2;
  }
  .container .tbl-grid-w-3 {
    grid-column-end: span 3;
  }
  .container .tbl-grid-h-3 {
    grid-row-end: span 3;
  }
  .container .tbl-grid-h-4 {
    grid-row-end: span 4;
  }
  .container .tbl-grid-w-5 {
    grid-column-end: span 5;
  }
  .container .tbl-grid-h-5 {
    grid-row-end: span 5;
  }
  .container .tbl-grid-w-6 {
    grid-column-end: span 6;
  }
  .container .tbl-grid-h-6 {
    grid-row-end: span 6;
  }
  .container .tbl-grid-w-7 {
    grid-column-end: span 7;
  }
  .container .tbl-grid-h-7 {
    grid-row-end: span 7;
  }
  .container .tbl-grid-h-8 {
    grid-row-end: span 8;
  }
  .container .tbl-grid-x-1 {
    grid-column-start: 1;
  }
  .container .tbl-grid-y-1 {
    grid-row-start: 1;
  }
  .container .tbl-grid-x-1-w-1 {
    grid-column: 1 / span 1;
  }
  .container .tbl-grid-x-1-w-2 {
    grid-column: 1 / span 2;
  }
  .container .tbl-grid-x-1-w-3 {
    grid-column: 1 / span 3;
  }
  .container .tbl-grid-x-1-w-4 {
    grid-column: 1 / span 4;
  }
  .container .tbl-grid-x-1-w-5 {
    grid-column: 1 / span 5;
  }
  .container .tbl-grid-x-1-w-6 {
    grid-column: 1 / span 6;
  }
  .container .tbl-grid-x-1-w-7 {
    grid-column: 1 / span 7;
  }
  .container .tbl-grid-x-1-w-8 {
    grid-column: 1 / span 8;
  }
  .container .tbl-grid-y-1-h-1 {
    grid-row: 1 / span 1;
  }
  .container .tbl-grid-y-1-h-2 {
    grid-row: 1 / span 2;
  }
  .container .tbl-grid-y-1-h-3 {
    grid-row: 1 / span 3;
  }
  .container .tbl-grid-y-1-h-4 {
    grid-row: 1 / span 4;
  }
  .container .tbl-grid-y-1-h-5 {
    grid-row: 1 / span 5;
  }
  .container .tbl-grid-y-1-h-6 {
    grid-row: 1 / span 6;
  }
  .container .tbl-grid-y-1-h-7 {
    grid-row: 1 / span 7;
  }
  .container .tbl-grid-y-1-h-8 {
    grid-row: 1 / span 8;
  }
  .container .tbl-grid-y-1-h-9 {
    grid-row: 1 / span 9;
  }
  .container .tbl-grid-y-1-h-10 {
    grid-row: 1 / span 10;
  }
  .container .tbl-grid-y-1-h-11 {
    grid-row: 1 / span 11;
  }
  .container .tbl-grid-y-1-h-12 {
    grid-row: 1 / span 12;
  }
  .container .tbl-grid-x-2 {
    grid-column-start: 2;
  }
  .container .tbl-grid-y-2 {
    grid-row-start: 2;
  }
  .container .tbl-grid-x-2-w-1 {
    grid-column: 2 / span 1;
  }
  .container .tbl-grid-x-2-w-2 {
    grid-column: 2 / span 2;
  }
  .container .tbl-grid-x-2-w-3 {
    grid-column: 2 / span 3;
  }
  .container .tbl-grid-x-2-w-4 {
    grid-column: 2 / span 4;
  }
  .container .tbl-grid-x-2-w-5 {
    grid-column: 2 / span 5;
  }
  .container .tbl-grid-x-2-w-6 {
    grid-column: 2 / span 6;
  }
  .container .tbl-grid-x-2-w-7 {
    grid-column: 2 / span 7;
  }
  .container .tbl-grid-y-2-h-1 {
    grid-row: 2 / span 1;
  }
  .container .tbl-grid-y-2-h-2 {
    grid-row: 2 / span 2;
  }
  .container .tbl-grid-y-2-h-3 {
    grid-row: 2 / span 3;
  }
  .container .tbl-grid-y-2-h-4 {
    grid-row: 2 / span 4;
  }
  .container .tbl-grid-y-2-h-5 {
    grid-row: 2 / span 5;
  }
  .container .tbl-grid-y-2-h-6 {
    grid-row: 2 / span 6;
  }
  .container .tbl-grid-y-2-h-7 {
    grid-row: 2 / span 7;
  }
  .container .tbl-grid-y-2-h-8 {
    grid-row: 2 / span 8;
  }
  .container .tbl-grid-y-2-h-9 {
    grid-row: 2 / span 9;
  }
  .container .tbl-grid-y-2-h-10 {
    grid-row: 2 / span 10;
  }
  .container .tbl-grid-y-2-h-11 {
    grid-row: 2 / span 11;
  }
  .container .tbl-grid-x-3 {
    grid-column-start: 3;
  }
  .container .tbl-grid-y-3 {
    grid-row-start: 3;
  }
  .container .tbl-grid-x-3-w-1 {
    grid-column: 3 / span 1;
  }
  .container .tbl-grid-x-3-w-2 {
    grid-column: 3 / span 2;
  }
  .container .tbl-grid-x-3-w-3 {
    grid-column: 3 / span 3;
  }
  .container .tbl-grid-x-3-w-4 {
    grid-column: 3 / span 4;
  }
  .container .tbl-grid-x-3-w-5 {
    grid-column: 3 / span 5;
  }
  .container .tbl-grid-x-3-w-6 {
    grid-column: 3 / span 6;
  }
  .container .tbl-grid-y-3-h-1 {
    grid-row: 3 / span 1;
  }
  .container .tbl-grid-y-3-h-2 {
    grid-row: 3 / span 2;
  }
  .container .tbl-grid-y-3-h-3 {
    grid-row: 3 / span 3;
  }
  .container .tbl-grid-y-3-h-4 {
    grid-row: 3 / span 4;
  }
  .container .tbl-grid-y-3-h-5 {
    grid-row: 3 / span 5;
  }
  .container .tbl-grid-y-3-h-6 {
    grid-row: 3 / span 6;
  }
  .container .tbl-grid-y-3-h-7 {
    grid-row: 3 / span 7;
  }
  .container .tbl-grid-y-3-h-8 {
    grid-row: 3 / span 8;
  }
  .container .tbl-grid-y-3-h-9 {
    grid-row: 3 / span 9;
  }
  .container .tbl-grid-y-3-h-10 {
    grid-row: 3 / span 10;
  }
  .container .tbl-grid-x-4 {
    grid-column-start: 4;
  }
  .container .tbl-grid-y-4 {
    grid-row-start: 4;
  }
  .container .tbl-grid-x-4-w-1 {
    grid-column: 4 / span 1;
  }
  .container .tbl-grid-x-4-w-2 {
    grid-column: 4 / span 2;
  }
  .container .tbl-grid-x-4-w-3 {
    grid-column: 4 / span 3;
  }
  .container .tbl-grid-x-4-w-4 {
    grid-column: 4 / span 4;
  }
  .container .tbl-grid-x-4-w-5 {
    grid-column: 4 / span 5;
  }
  .container .tbl-grid-y-4-h-1 {
    grid-row: 4 / span 1;
  }
  .container .tbl-grid-y-4-h-2 {
    grid-row: 4 / span 2;
  }
  .container .tbl-grid-y-4-h-3 {
    grid-row: 4 / span 3;
  }
  .container .tbl-grid-y-4-h-4 {
    grid-row: 4 / span 4;
  }
  .container .tbl-grid-y-4-h-5 {
    grid-row: 4 / span 5;
  }
  .container .tbl-grid-y-4-h-6 {
    grid-row: 4 / span 6;
  }
  .container .tbl-grid-y-4-h-7 {
    grid-row: 4 / span 7;
  }
  .container .tbl-grid-y-4-h-8 {
    grid-row: 4 / span 8;
  }
  .container .tbl-grid-y-4-h-9 {
    grid-row: 4 / span 9;
  }
  .container .tbl-grid-x-5 {
    grid-column-start: 5;
  }
  .container .tbl-grid-y-5 {
    grid-row-start: 5;
  }
  .container .tbl-grid-x-5-w-1 {
    grid-column: 5 / span 1;
  }
  .container .tbl-grid-x-5-w-2 {
    grid-column: 5 / span 2;
  }
  .container .tbl-grid-x-5-w-3 {
    grid-column: 5 / span 3;
  }
  .container .tbl-grid-x-5-w-4 {
    grid-column: 5 / span 4;
  }
  .container .tbl-grid-y-5-h-1 {
    grid-row: 5 / span 1;
  }
  .container .tbl-grid-y-5-h-2 {
    grid-row: 5 / span 2;
  }
  .container .tbl-grid-y-5-h-3 {
    grid-row: 5 / span 3;
  }
  .container .tbl-grid-y-5-h-4 {
    grid-row: 5 / span 4;
  }
  .container .tbl-grid-y-5-h-5 {
    grid-row: 5 / span 5;
  }
  .container .tbl-grid-y-5-h-6 {
    grid-row: 5 / span 6;
  }
  .container .tbl-grid-y-5-h-7 {
    grid-row: 5 / span 7;
  }
  .container .tbl-grid-y-5-h-8 {
    grid-row: 5 / span 8;
  }
  .container .tbl-grid-x-6 {
    grid-column-start: 6;
  }
  .container .tbl-grid-y-6 {
    grid-row-start: 6;
  }
  .container .tbl-grid-x-6-w-1 {
    grid-column: 6 / span 1;
  }
  .container .tbl-grid-x-6-w-2 {
    grid-column: 6 / span 2;
  }
  .container .tbl-grid-x-6-w-3 {
    grid-column: 6 / span 3;
  }
  .container .tbl-grid-y-6-h-1 {
    grid-row: 6 / span 1;
  }
  .container .tbl-grid-y-6-h-2 {
    grid-row: 6 / span 2;
  }
  .container .tbl-grid-y-6-h-3 {
    grid-row: 6 / span 3;
  }
  .container .tbl-grid-y-6-h-4 {
    grid-row: 6 / span 4;
  }
  .container .tbl-grid-y-6-h-5 {
    grid-row: 6 / span 5;
  }
  .container .tbl-grid-y-6-h-6 {
    grid-row: 6 / span 6;
  }
  .container .tbl-grid-y-6-h-7 {
    grid-row: 6 / span 7;
  }
  .container .tbl-grid-x-7 {
    grid-column-start: 7;
  }
  .container .tbl-grid-y-7 {
    grid-row-start: 7;
  }
  .container .tbl-grid-x-7-w-1 {
    grid-column: 7 / span 1;
  }
  .container .tbl-grid-x-7-w-2 {
    grid-column: 7 / span 2;
  }
  .container .tbl-grid-y-7-h-1 {
    grid-row: 7 / span 1;
  }
  .container .tbl-grid-y-7-h-2 {
    grid-row: 7 / span 2;
  }
  .container .tbl-grid-y-7-h-3 {
    grid-row: 7 / span 3;
  }
  .container .tbl-grid-y-7-h-4 {
    grid-row: 7 / span 4;
  }
  .container .tbl-grid-y-7-h-5 {
    grid-row: 7 / span 5;
  }
  .container .tbl-grid-y-7-h-6 {
    grid-row: 7 / span 6;
  }
  .container .tbl-grid-x-8 {
    grid-column-start: 8;
  }
  .container .tbl-grid-y-8 {
    grid-row-start: 8;
  }
  .container .tbl-grid-x-8-w-1 {
    grid-column: 8 / span 1;
  }
  .container .tbl-grid-y-8-h-1 {
    grid-row: 8 / span 1;
  }
  .container .tbl-grid-y-8-h-2 {
    grid-row: 8 / span 2;
  }
  .container .tbl-grid-y-8-h-3 {
    grid-row: 8 / span 3;
  }
  .container .tbl-grid-y-8-h-4 {
    grid-row: 8 / span 4;
  }
  .container .tbl-grid-y-8-h-5 {
    grid-row: 8 / span 5;
  }

  .section .container .tbl-flex-w-full {
    flex-basis: 100%;
  }
  .section .container .tbl-flex-w-half {
    flex-basis: 50%;
  }
  .section .container .tbl-flex-w-1-3 {
    flex-basis: 33.3333333333%;
  }
  .section .container .tbl-flex-w-2-3 {
    flex-basis: 66.6666666667%;
  }
  .section .container .tbl-flex-w-1-4 {
    flex-basis: 25%;
  }
  .section .container .tbl-flex-w-3-4 {
    flex-basis: 75%;
  }
  .section .container .tbl-flex-w-1-5 {
    flex-basis: 20%;
  }
  .section .container .tbl-flex-w-2-5 {
    flex-basis: 40%;
  }
  .section .container .tbl-flex-w-3-5 {
    flex-basis: 60%;
  }
  .section .container .tbl-flex-w-4-5 {
    flex-basis: 80%;
  }
  .section .container .tbl-flex-w-1-6 {
    flex-basis: 16.6666666667%;
  }
  .section .container .tbl-flex-w-2-6 {
    flex-basis: 33.3333333333%;
  }
  .section .container .tbl-flex-w-4-6 {
    flex-basis: 66.6666666667%;
  }
  .section .container .tbl-flex-w-5-6 {
    flex-basis: 83.3333333333%;
  }
  .section .container .tbl-flex-w-1-7 {
    flex-basis: 14.2857142857%;
  }
  .section .container .tbl-flex-w-2-7 {
    flex-basis: 28.5714285714%;
  }
  .section .container .tbl-flex-w-3-7 {
    flex-basis: 42.8571428571%;
  }
  .section .container .tbl-flex-w-4-7 {
    flex-basis: 57.1428571429%;
  }
  .section .container .tbl-flex-w-5-7 {
    flex-basis: 71.4285714286%;
  }
  .section .container .tbl-flex-w-6-7 {
    flex-basis: 85.7142857143%;
  }
  .section .container .tbl-flex-w-1-8 {
    flex-basis: 12.5%;
  }
  .section .container .tbl-flex-w-2-8 {
    flex-basis: 25%;
  }
  .section .container .tbl-flex-w-3-8 {
    flex-basis: 37.5%;
  }
  .section .container .tbl-flex-w-5-8 {
    flex-basis: 62.5%;
  }
  .section .container .tbl-flex-w-6-8 {
    flex-basis: 75%;
  }
  .section .container .tbl-flex-w-7-8 {
    flex-basis: 87.5%;
  }

  .tbl-section--hidden {
    display: none;
  }
}
@media (min-width: 905px) {
  .container .grid-w-half {
    grid-column-end: span 6;
  }
  .container .grid-w-full {
    grid-column-end: span 12;
  }
  .container .tbl-grid-w-half {
    grid-column-end: span 6;
  }
  .container .tbl-grid-w-full {
    grid-column-end: span 12;
  }
  .container .lpt-grid-w-half {
    grid-column-end: span 6;
  }
  .container .lpt-grid-w-full {
    grid-column-end: span 12;
  }
  .container .lpt-grid-w-1 {
    grid-column-end: span 1;
  }
  .container .lpt-grid-h-1 {
    grid-row-end: span 1;
  }
  .container .lpt-grid-w-2 {
    grid-column-end: span 2;
  }
  .container .lpt-grid-h-2 {
    grid-row-end: span 2;
  }
  .container .lpt-grid-w-3 {
    grid-column-end: span 3;
  }
  .container .lpt-grid-h-3 {
    grid-row-end: span 3;
  }
  .container .lpt-grid-w-4 {
    grid-column-end: span 4;
  }
  .container .lpt-grid-h-4 {
    grid-row-end: span 4;
  }
  .container .lpt-grid-w-5 {
    grid-column-end: span 5;
  }
  .container .lpt-grid-h-5 {
    grid-row-end: span 5;
  }
  .container .lpt-grid-h-6 {
    grid-row-end: span 6;
  }
  .container .lpt-grid-w-7 {
    grid-column-end: span 7;
  }
  .container .lpt-grid-h-7 {
    grid-row-end: span 7;
  }
  .container .lpt-grid-w-8 {
    grid-column-end: span 8;
  }
  .container .lpt-grid-h-8 {
    grid-row-end: span 8;
  }
  .container .lpt-grid-w-9 {
    grid-column-end: span 9;
  }
  .container .lpt-grid-h-9 {
    grid-row-end: span 9;
  }
  .container .lpt-grid-w-10 {
    grid-column-end: span 10;
  }
  .container .lpt-grid-h-10 {
    grid-row-end: span 10;
  }
  .container .lpt-grid-w-11 {
    grid-column-end: span 11;
  }
  .container .lpt-grid-h-11 {
    grid-row-end: span 11;
  }
  .container .lpt-grid-h-12 {
    grid-row-end: span 12;
  }
  .container .lpt-grid-x-1 {
    grid-column-start: 1;
  }
  .container .lpt-grid-y-1 {
    grid-row-start: 1;
  }
  .container .lpt-grid-x-1-w-1 {
    grid-column: 1 / span 1;
  }
  .container .lpt-grid-x-1-w-2 {
    grid-column: 1 / span 2;
  }
  .container .lpt-grid-x-1-w-3 {
    grid-column: 1 / span 3;
  }
  .container .lpt-grid-x-1-w-4 {
    grid-column: 1 / span 4;
  }
  .container .lpt-grid-x-1-w-5 {
    grid-column: 1 / span 5;
  }
  .container .lpt-grid-x-1-w-6 {
    grid-column: 1 / span 6;
  }
  .container .lpt-grid-x-1-w-7 {
    grid-column: 1 / span 7;
  }
  .container .lpt-grid-x-1-w-8 {
    grid-column: 1 / span 8;
  }
  .container .lpt-grid-x-1-w-9 {
    grid-column: 1 / span 9;
  }
  .container .lpt-grid-x-1-w-10 {
    grid-column: 1 / span 10;
  }
  .container .lpt-grid-x-1-w-11 {
    grid-column: 1 / span 11;
  }
  .container .lpt-grid-x-1-w-12 {
    grid-column: 1 / span 12;
  }
  .container .lpt-grid-y-1-h-1 {
    grid-row: 1 / span 1;
  }
  .container .lpt-grid-y-1-h-2 {
    grid-row: 1 / span 2;
  }
  .container .lpt-grid-y-1-h-3 {
    grid-row: 1 / span 3;
  }
  .container .lpt-grid-y-1-h-4 {
    grid-row: 1 / span 4;
  }
  .container .lpt-grid-y-1-h-5 {
    grid-row: 1 / span 5;
  }
  .container .lpt-grid-y-1-h-6 {
    grid-row: 1 / span 6;
  }
  .container .lpt-grid-y-1-h-7 {
    grid-row: 1 / span 7;
  }
  .container .lpt-grid-y-1-h-8 {
    grid-row: 1 / span 8;
  }
  .container .lpt-grid-y-1-h-9 {
    grid-row: 1 / span 9;
  }
  .container .lpt-grid-y-1-h-10 {
    grid-row: 1 / span 10;
  }
  .container .lpt-grid-y-1-h-11 {
    grid-row: 1 / span 11;
  }
  .container .lpt-grid-y-1-h-12 {
    grid-row: 1 / span 12;
  }
  .container .lpt-grid-x-2 {
    grid-column-start: 2;
  }
  .container .lpt-grid-y-2 {
    grid-row-start: 2;
  }
  .container .lpt-grid-x-2-w-1 {
    grid-column: 2 / span 1;
  }
  .container .lpt-grid-x-2-w-2 {
    grid-column: 2 / span 2;
  }
  .container .lpt-grid-x-2-w-3 {
    grid-column: 2 / span 3;
  }
  .container .lpt-grid-x-2-w-4 {
    grid-column: 2 / span 4;
  }
  .container .lpt-grid-x-2-w-5 {
    grid-column: 2 / span 5;
  }
  .container .lpt-grid-x-2-w-6 {
    grid-column: 2 / span 6;
  }
  .container .lpt-grid-x-2-w-7 {
    grid-column: 2 / span 7;
  }
  .container .lpt-grid-x-2-w-8 {
    grid-column: 2 / span 8;
  }
  .container .lpt-grid-x-2-w-9 {
    grid-column: 2 / span 9;
  }
  .container .lpt-grid-x-2-w-10 {
    grid-column: 2 / span 10;
  }
  .container .lpt-grid-x-2-w-11 {
    grid-column: 2 / span 11;
  }
  .container .lpt-grid-y-2-h-1 {
    grid-row: 2 / span 1;
  }
  .container .lpt-grid-y-2-h-2 {
    grid-row: 2 / span 2;
  }
  .container .lpt-grid-y-2-h-3 {
    grid-row: 2 / span 3;
  }
  .container .lpt-grid-y-2-h-4 {
    grid-row: 2 / span 4;
  }
  .container .lpt-grid-y-2-h-5 {
    grid-row: 2 / span 5;
  }
  .container .lpt-grid-y-2-h-6 {
    grid-row: 2 / span 6;
  }
  .container .lpt-grid-y-2-h-7 {
    grid-row: 2 / span 7;
  }
  .container .lpt-grid-y-2-h-8 {
    grid-row: 2 / span 8;
  }
  .container .lpt-grid-y-2-h-9 {
    grid-row: 2 / span 9;
  }
  .container .lpt-grid-y-2-h-10 {
    grid-row: 2 / span 10;
  }
  .container .lpt-grid-y-2-h-11 {
    grid-row: 2 / span 11;
  }
  .container .lpt-grid-x-3 {
    grid-column-start: 3;
  }
  .container .lpt-grid-y-3 {
    grid-row-start: 3;
  }
  .container .lpt-grid-x-3-w-1 {
    grid-column: 3 / span 1;
  }
  .container .lpt-grid-x-3-w-2 {
    grid-column: 3 / span 2;
  }
  .container .lpt-grid-x-3-w-3 {
    grid-column: 3 / span 3;
  }
  .container .lpt-grid-x-3-w-4 {
    grid-column: 3 / span 4;
  }
  .container .lpt-grid-x-3-w-5 {
    grid-column: 3 / span 5;
  }
  .container .lpt-grid-x-3-w-6 {
    grid-column: 3 / span 6;
  }
  .container .lpt-grid-x-3-w-7 {
    grid-column: 3 / span 7;
  }
  .container .lpt-grid-x-3-w-8 {
    grid-column: 3 / span 8;
  }
  .container .lpt-grid-x-3-w-9 {
    grid-column: 3 / span 9;
  }
  .container .lpt-grid-x-3-w-10 {
    grid-column: 3 / span 10;
  }
  .container .lpt-grid-y-3-h-1 {
    grid-row: 3 / span 1;
  }
  .container .lpt-grid-y-3-h-2 {
    grid-row: 3 / span 2;
  }
  .container .lpt-grid-y-3-h-3 {
    grid-row: 3 / span 3;
  }
  .container .lpt-grid-y-3-h-4 {
    grid-row: 3 / span 4;
  }
  .container .lpt-grid-y-3-h-5 {
    grid-row: 3 / span 5;
  }
  .container .lpt-grid-y-3-h-6 {
    grid-row: 3 / span 6;
  }
  .container .lpt-grid-y-3-h-7 {
    grid-row: 3 / span 7;
  }
  .container .lpt-grid-y-3-h-8 {
    grid-row: 3 / span 8;
  }
  .container .lpt-grid-y-3-h-9 {
    grid-row: 3 / span 9;
  }
  .container .lpt-grid-y-3-h-10 {
    grid-row: 3 / span 10;
  }
  .container .lpt-grid-x-4 {
    grid-column-start: 4;
  }
  .container .lpt-grid-y-4 {
    grid-row-start: 4;
  }
  .container .lpt-grid-x-4-w-1 {
    grid-column: 4 / span 1;
  }
  .container .lpt-grid-x-4-w-2 {
    grid-column: 4 / span 2;
  }
  .container .lpt-grid-x-4-w-3 {
    grid-column: 4 / span 3;
  }
  .container .lpt-grid-x-4-w-4 {
    grid-column: 4 / span 4;
  }
  .container .lpt-grid-x-4-w-5 {
    grid-column: 4 / span 5;
  }
  .container .lpt-grid-x-4-w-6 {
    grid-column: 4 / span 6;
  }
  .container .lpt-grid-x-4-w-7 {
    grid-column: 4 / span 7;
  }
  .container .lpt-grid-x-4-w-8 {
    grid-column: 4 / span 8;
  }
  .container .lpt-grid-x-4-w-9 {
    grid-column: 4 / span 9;
  }
  .container .lpt-grid-y-4-h-1 {
    grid-row: 4 / span 1;
  }
  .container .lpt-grid-y-4-h-2 {
    grid-row: 4 / span 2;
  }
  .container .lpt-grid-y-4-h-3 {
    grid-row: 4 / span 3;
  }
  .container .lpt-grid-y-4-h-4 {
    grid-row: 4 / span 4;
  }
  .container .lpt-grid-y-4-h-5 {
    grid-row: 4 / span 5;
  }
  .container .lpt-grid-y-4-h-6 {
    grid-row: 4 / span 6;
  }
  .container .lpt-grid-y-4-h-7 {
    grid-row: 4 / span 7;
  }
  .container .lpt-grid-y-4-h-8 {
    grid-row: 4 / span 8;
  }
  .container .lpt-grid-y-4-h-9 {
    grid-row: 4 / span 9;
  }
  .container .lpt-grid-x-5 {
    grid-column-start: 5;
  }
  .container .lpt-grid-y-5 {
    grid-row-start: 5;
  }
  .container .lpt-grid-x-5-w-1 {
    grid-column: 5 / span 1;
  }
  .container .lpt-grid-x-5-w-2 {
    grid-column: 5 / span 2;
  }
  .container .lpt-grid-x-5-w-3 {
    grid-column: 5 / span 3;
  }
  .container .lpt-grid-x-5-w-4 {
    grid-column: 5 / span 4;
  }
  .container .lpt-grid-x-5-w-5 {
    grid-column: 5 / span 5;
  }
  .container .lpt-grid-x-5-w-6 {
    grid-column: 5 / span 6;
  }
  .container .lpt-grid-x-5-w-7 {
    grid-column: 5 / span 7;
  }
  .container .lpt-grid-x-5-w-8 {
    grid-column: 5 / span 8;
  }
  .container .lpt-grid-y-5-h-1 {
    grid-row: 5 / span 1;
  }
  .container .lpt-grid-y-5-h-2 {
    grid-row: 5 / span 2;
  }
  .container .lpt-grid-y-5-h-3 {
    grid-row: 5 / span 3;
  }
  .container .lpt-grid-y-5-h-4 {
    grid-row: 5 / span 4;
  }
  .container .lpt-grid-y-5-h-5 {
    grid-row: 5 / span 5;
  }
  .container .lpt-grid-y-5-h-6 {
    grid-row: 5 / span 6;
  }
  .container .lpt-grid-y-5-h-7 {
    grid-row: 5 / span 7;
  }
  .container .lpt-grid-y-5-h-8 {
    grid-row: 5 / span 8;
  }
  .container .lpt-grid-x-6 {
    grid-column-start: 6;
  }
  .container .lpt-grid-y-6 {
    grid-row-start: 6;
  }
  .container .lpt-grid-x-6-w-1 {
    grid-column: 6 / span 1;
  }
  .container .lpt-grid-x-6-w-2 {
    grid-column: 6 / span 2;
  }
  .container .lpt-grid-x-6-w-3 {
    grid-column: 6 / span 3;
  }
  .container .lpt-grid-x-6-w-4 {
    grid-column: 6 / span 4;
  }
  .container .lpt-grid-x-6-w-5 {
    grid-column: 6 / span 5;
  }
  .container .lpt-grid-x-6-w-6 {
    grid-column: 6 / span 6;
  }
  .container .lpt-grid-x-6-w-7 {
    grid-column: 6 / span 7;
  }
  .container .lpt-grid-y-6-h-1 {
    grid-row: 6 / span 1;
  }
  .container .lpt-grid-y-6-h-2 {
    grid-row: 6 / span 2;
  }
  .container .lpt-grid-y-6-h-3 {
    grid-row: 6 / span 3;
  }
  .container .lpt-grid-y-6-h-4 {
    grid-row: 6 / span 4;
  }
  .container .lpt-grid-y-6-h-5 {
    grid-row: 6 / span 5;
  }
  .container .lpt-grid-y-6-h-6 {
    grid-row: 6 / span 6;
  }
  .container .lpt-grid-y-6-h-7 {
    grid-row: 6 / span 7;
  }
  .container .lpt-grid-x-7 {
    grid-column-start: 7;
  }
  .container .lpt-grid-y-7 {
    grid-row-start: 7;
  }
  .container .lpt-grid-x-7-w-1 {
    grid-column: 7 / span 1;
  }
  .container .lpt-grid-x-7-w-2 {
    grid-column: 7 / span 2;
  }
  .container .lpt-grid-x-7-w-3 {
    grid-column: 7 / span 3;
  }
  .container .lpt-grid-x-7-w-4 {
    grid-column: 7 / span 4;
  }
  .container .lpt-grid-x-7-w-5 {
    grid-column: 7 / span 5;
  }
  .container .lpt-grid-x-7-w-6 {
    grid-column: 7 / span 6;
  }
  .container .lpt-grid-y-7-h-1 {
    grid-row: 7 / span 1;
  }
  .container .lpt-grid-y-7-h-2 {
    grid-row: 7 / span 2;
  }
  .container .lpt-grid-y-7-h-3 {
    grid-row: 7 / span 3;
  }
  .container .lpt-grid-y-7-h-4 {
    grid-row: 7 / span 4;
  }
  .container .lpt-grid-y-7-h-5 {
    grid-row: 7 / span 5;
  }
  .container .lpt-grid-y-7-h-6 {
    grid-row: 7 / span 6;
  }
  .container .lpt-grid-x-8 {
    grid-column-start: 8;
  }
  .container .lpt-grid-y-8 {
    grid-row-start: 8;
  }
  .container .lpt-grid-x-8-w-1 {
    grid-column: 8 / span 1;
  }
  .container .lpt-grid-x-8-w-2 {
    grid-column: 8 / span 2;
  }
  .container .lpt-grid-x-8-w-3 {
    grid-column: 8 / span 3;
  }
  .container .lpt-grid-x-8-w-4 {
    grid-column: 8 / span 4;
  }
  .container .lpt-grid-x-8-w-5 {
    grid-column: 8 / span 5;
  }
  .container .lpt-grid-y-8-h-1 {
    grid-row: 8 / span 1;
  }
  .container .lpt-grid-y-8-h-2 {
    grid-row: 8 / span 2;
  }
  .container .lpt-grid-y-8-h-3 {
    grid-row: 8 / span 3;
  }
  .container .lpt-grid-y-8-h-4 {
    grid-row: 8 / span 4;
  }
  .container .lpt-grid-y-8-h-5 {
    grid-row: 8 / span 5;
  }
  .container .lpt-grid-x-9 {
    grid-column-start: 9;
  }
  .container .lpt-grid-y-9 {
    grid-row-start: 9;
  }
  .container .lpt-grid-x-9-w-1 {
    grid-column: 9 / span 1;
  }
  .container .lpt-grid-x-9-w-2 {
    grid-column: 9 / span 2;
  }
  .container .lpt-grid-x-9-w-3 {
    grid-column: 9 / span 3;
  }
  .container .lpt-grid-x-9-w-4 {
    grid-column: 9 / span 4;
  }
  .container .lpt-grid-y-9-h-1 {
    grid-row: 9 / span 1;
  }
  .container .lpt-grid-y-9-h-2 {
    grid-row: 9 / span 2;
  }
  .container .lpt-grid-y-9-h-3 {
    grid-row: 9 / span 3;
  }
  .container .lpt-grid-y-9-h-4 {
    grid-row: 9 / span 4;
  }
  .container .lpt-grid-x-10 {
    grid-column-start: 10;
  }
  .container .lpt-grid-y-10 {
    grid-row-start: 10;
  }
  .container .lpt-grid-x-10-w-1 {
    grid-column: 10 / span 1;
  }
  .container .lpt-grid-x-10-w-2 {
    grid-column: 10 / span 2;
  }
  .container .lpt-grid-x-10-w-3 {
    grid-column: 10 / span 3;
  }
  .container .lpt-grid-y-10-h-1 {
    grid-row: 10 / span 1;
  }
  .container .lpt-grid-y-10-h-2 {
    grid-row: 10 / span 2;
  }
  .container .lpt-grid-y-10-h-3 {
    grid-row: 10 / span 3;
  }
  .container .lpt-grid-x-11 {
    grid-column-start: 11;
  }
  .container .lpt-grid-y-11 {
    grid-row-start: 11;
  }
  .container .lpt-grid-x-11-w-1 {
    grid-column: 11 / span 1;
  }
  .container .lpt-grid-x-11-w-2 {
    grid-column: 11 / span 2;
  }
  .container .lpt-grid-y-11-h-1 {
    grid-row: 11 / span 1;
  }
  .container .lpt-grid-y-11-h-2 {
    grid-row: 11 / span 2;
  }
  .container .lpt-grid-x-12 {
    grid-column-start: 12;
  }
  .container .lpt-grid-y-12 {
    grid-row-start: 12;
  }
  .container .lpt-grid-x-12-w-1 {
    grid-column: 12 / span 1;
  }
  .container .lpt-grid-y-12-h-1 {
    grid-row: 12 / span 1;
  }

  .section .container .lpt-flex-w-full {
    flex-basis: 100%;
  }
  .section .container .lpt-flex-w-half {
    flex-basis: 50%;
  }
  .section .container .lpt-flex-w-1-3 {
    flex-basis: 33.3333333333%;
  }
  .section .container .lpt-flex-w-2-3 {
    flex-basis: 66.6666666667%;
  }
  .section .container .lpt-flex-w-1-4 {
    flex-basis: 25%;
  }
  .section .container .lpt-flex-w-3-4 {
    flex-basis: 75%;
  }
  .section .container .lpt-flex-w-1-5 {
    flex-basis: 20%;
  }
  .section .container .lpt-flex-w-2-5 {
    flex-basis: 40%;
  }
  .section .container .lpt-flex-w-3-5 {
    flex-basis: 60%;
  }
  .section .container .lpt-flex-w-4-5 {
    flex-basis: 80%;
  }
  .section .container .lpt-flex-w-1-6 {
    flex-basis: 16.6666666667%;
  }
  .section .container .lpt-flex-w-2-6 {
    flex-basis: 33.3333333333%;
  }
  .section .container .lpt-flex-w-4-6 {
    flex-basis: 66.6666666667%;
  }
  .section .container .lpt-flex-w-5-6 {
    flex-basis: 83.3333333333%;
  }
  .section .container .lpt-flex-w-1-7 {
    flex-basis: 14.2857142857%;
  }
  .section .container .lpt-flex-w-2-7 {
    flex-basis: 28.5714285714%;
  }
  .section .container .lpt-flex-w-3-7 {
    flex-basis: 42.8571428571%;
  }
  .section .container .lpt-flex-w-4-7 {
    flex-basis: 57.1428571429%;
  }
  .section .container .lpt-flex-w-5-7 {
    flex-basis: 71.4285714286%;
  }
  .section .container .lpt-flex-w-6-7 {
    flex-basis: 85.7142857143%;
  }
  .section .container .lpt-flex-w-1-8 {
    flex-basis: 12.5%;
  }
  .section .container .lpt-flex-w-2-8 {
    flex-basis: 25%;
  }
  .section .container .lpt-flex-w-3-8 {
    flex-basis: 37.5%;
  }
  .section .container .lpt-flex-w-5-8 {
    flex-basis: 62.5%;
  }
  .section .container .lpt-flex-w-6-8 {
    flex-basis: 75%;
  }
  .section .container .lpt-flex-w-7-8 {
    flex-basis: 87.5%;
  }
  .section .container .lpt-flex-w-1-9 {
    flex-basis: 11.1111111111%;
  }
  .section .container .lpt-flex-w-2-9 {
    flex-basis: 22.2222222222%;
  }
  .section .container .lpt-flex-w-3-9 {
    flex-basis: 33.3333333333%;
  }
  .section .container .lpt-flex-w-4-9 {
    flex-basis: 44.4444444444%;
  }
  .section .container .lpt-flex-w-5-9 {
    flex-basis: 55.5555555556%;
  }
  .section .container .lpt-flex-w-6-9 {
    flex-basis: 66.6666666667%;
  }
  .section .container .lpt-flex-w-7-9 {
    flex-basis: 77.7777777778%;
  }
  .section .container .lpt-flex-w-8-9 {
    flex-basis: 88.8888888889%;
  }
  .section .container .lpt-flex-w-1-10 {
    flex-basis: 10%;
  }
  .section .container .lpt-flex-w-2-10 {
    flex-basis: 20%;
  }
  .section .container .lpt-flex-w-3-10 {
    flex-basis: 30%;
  }
  .section .container .lpt-flex-w-4-10 {
    flex-basis: 40%;
  }
  .section .container .lpt-flex-w-6-10 {
    flex-basis: 60%;
  }
  .section .container .lpt-flex-w-7-10 {
    flex-basis: 70%;
  }
  .section .container .lpt-flex-w-8-10 {
    flex-basis: 80%;
  }
  .section .container .lpt-flex-w-9-10 {
    flex-basis: 90%;
  }
  .section .container .lpt-flex-w-1-11 {
    flex-basis: 9.0909090909%;
  }
  .section .container .lpt-flex-w-2-11 {
    flex-basis: 18.1818181818%;
  }
  .section .container .lpt-flex-w-3-11 {
    flex-basis: 27.2727272727%;
  }
  .section .container .lpt-flex-w-4-11 {
    flex-basis: 36.3636363636%;
  }
  .section .container .lpt-flex-w-5-11 {
    flex-basis: 45.4545454545%;
  }
  .section .container .lpt-flex-w-6-11 {
    flex-basis: 54.5454545455%;
  }
  .section .container .lpt-flex-w-7-11 {
    flex-basis: 63.6363636364%;
  }
  .section .container .lpt-flex-w-8-11 {
    flex-basis: 72.7272727273%;
  }
  .section .container .lpt-flex-w-9-11 {
    flex-basis: 81.8181818182%;
  }
  .section .container .lpt-flex-w-10-11 {
    flex-basis: 90.9090909091%;
  }
  .section .container .lpt-flex-w-1-12 {
    flex-basis: 8.3333333333%;
  }
  .section .container .lpt-flex-w-2-12 {
    flex-basis: 16.6666666667%;
  }
  .section .container .lpt-flex-w-3-12 {
    flex-basis: 25%;
  }
  .section .container .lpt-flex-w-4-12 {
    flex-basis: 33.3333333333%;
  }
  .section .container .lpt-flex-w-5-12 {
    flex-basis: 41.6666666667%;
  }
  .section .container .lpt-flex-w-7-12 {
    flex-basis: 58.3333333333%;
  }
  .section .container .lpt-flex-w-8-12 {
    flex-basis: 66.6666666667%;
  }
  .section .container .lpt-flex-w-9-12 {
    flex-basis: 75%;
  }
  .section .container .lpt-flex-w-10-12 {
    flex-basis: 83.3333333333%;
  }
  .section .container .lpt-flex-w-11-12 {
    flex-basis: 91.6666666667%;
  }

  .lpt-section--hidden {
    display: none;
  }
}
@media (min-width: 1240px) {
  .container .grid-w-half {
    grid-column-end: span 6;
  }
  .container .grid-w-full {
    grid-column-end: span 12;
  }
  .container .tbl-grid-w-half {
    grid-column-end: span 6;
  }
  .container .tbl-grid-w-full {
    grid-column-end: span 12;
  }
  .container .lpt-grid-w-half {
    grid-column-end: span 6;
  }
  .container .lpt-grid-w-full {
    grid-column-end: span 12;
  }
  .container .dsk-grid-w-half {
    grid-column-end: span 6;
  }
  .container .dsk-grid-w-full {
    grid-column-end: span 12;
  }
  .container .dsk-grid-w-1 {
    grid-column-end: span 1;
  }
  .container .dsk-grid-h-1 {
    grid-row-end: span 1;
  }
  .container .dsk-grid-w-2 {
    grid-column-end: span 2;
  }
  .container .dsk-grid-h-2 {
    grid-row-end: span 2;
  }
  .container .dsk-grid-w-3 {
    grid-column-end: span 3;
  }
  .container .dsk-grid-h-3 {
    grid-row-end: span 3;
  }
  .container .dsk-grid-w-4 {
    grid-column-end: span 4;
  }
  .container .dsk-grid-h-4 {
    grid-row-end: span 4;
  }
  .container .dsk-grid-w-5 {
    grid-column-end: span 5;
  }
  .container .dsk-grid-h-5 {
    grid-row-end: span 5;
  }
  .container .dsk-grid-h-6 {
    grid-row-end: span 6;
  }
  .container .dsk-grid-w-7 {
    grid-column-end: span 7;
  }
  .container .dsk-grid-h-7 {
    grid-row-end: span 7;
  }
  .container .dsk-grid-w-8 {
    grid-column-end: span 8;
  }
  .container .dsk-grid-h-8 {
    grid-row-end: span 8;
  }
  .container .dsk-grid-w-9 {
    grid-column-end: span 9;
  }
  .container .dsk-grid-h-9 {
    grid-row-end: span 9;
  }
  .container .dsk-grid-w-10 {
    grid-column-end: span 10;
  }
  .container .dsk-grid-h-10 {
    grid-row-end: span 10;
  }
  .container .dsk-grid-w-11 {
    grid-column-end: span 11;
  }
  .container .dsk-grid-h-11 {
    grid-row-end: span 11;
  }
  .container .dsk-grid-h-12 {
    grid-row-end: span 12;
  }
  .container .dsk-grid-x-1 {
    grid-column-start: 1;
  }
  .container .dsk-grid-y-1 {
    grid-row-start: 1;
  }
  .container .dsk-grid-x-1-w-1 {
    grid-column: 1 / span 1;
  }
  .container .dsk-grid-x-1-w-2 {
    grid-column: 1 / span 2;
  }
  .container .dsk-grid-x-1-w-3 {
    grid-column: 1 / span 3;
  }
  .container .dsk-grid-x-1-w-4 {
    grid-column: 1 / span 4;
  }
  .container .dsk-grid-x-1-w-5 {
    grid-column: 1 / span 5;
  }
  .container .dsk-grid-x-1-w-6 {
    grid-column: 1 / span 6;
  }
  .container .dsk-grid-x-1-w-7 {
    grid-column: 1 / span 7;
  }
  .container .dsk-grid-x-1-w-8 {
    grid-column: 1 / span 8;
  }
  .container .dsk-grid-x-1-w-9 {
    grid-column: 1 / span 9;
  }
  .container .dsk-grid-x-1-w-10 {
    grid-column: 1 / span 10;
  }
  .container .dsk-grid-x-1-w-11 {
    grid-column: 1 / span 11;
  }
  .container .dsk-grid-x-1-w-12 {
    grid-column: 1 / span 12;
  }
  .container .dsk-grid-y-1-h-1 {
    grid-row: 1 / span 1;
  }
  .container .dsk-grid-y-1-h-2 {
    grid-row: 1 / span 2;
  }
  .container .dsk-grid-y-1-h-3 {
    grid-row: 1 / span 3;
  }
  .container .dsk-grid-y-1-h-4 {
    grid-row: 1 / span 4;
  }
  .container .dsk-grid-y-1-h-5 {
    grid-row: 1 / span 5;
  }
  .container .dsk-grid-y-1-h-6 {
    grid-row: 1 / span 6;
  }
  .container .dsk-grid-y-1-h-7 {
    grid-row: 1 / span 7;
  }
  .container .dsk-grid-y-1-h-8 {
    grid-row: 1 / span 8;
  }
  .container .dsk-grid-y-1-h-9 {
    grid-row: 1 / span 9;
  }
  .container .dsk-grid-y-1-h-10 {
    grid-row: 1 / span 10;
  }
  .container .dsk-grid-y-1-h-11 {
    grid-row: 1 / span 11;
  }
  .container .dsk-grid-y-1-h-12 {
    grid-row: 1 / span 12;
  }
  .container .dsk-grid-x-2 {
    grid-column-start: 2;
  }
  .container .dsk-grid-y-2 {
    grid-row-start: 2;
  }
  .container .dsk-grid-x-2-w-1 {
    grid-column: 2 / span 1;
  }
  .container .dsk-grid-x-2-w-2 {
    grid-column: 2 / span 2;
  }
  .container .dsk-grid-x-2-w-3 {
    grid-column: 2 / span 3;
  }
  .container .dsk-grid-x-2-w-4 {
    grid-column: 2 / span 4;
  }
  .container .dsk-grid-x-2-w-5 {
    grid-column: 2 / span 5;
  }
  .container .dsk-grid-x-2-w-6 {
    grid-column: 2 / span 6;
  }
  .container .dsk-grid-x-2-w-7 {
    grid-column: 2 / span 7;
  }
  .container .dsk-grid-x-2-w-8 {
    grid-column: 2 / span 8;
  }
  .container .dsk-grid-x-2-w-9 {
    grid-column: 2 / span 9;
  }
  .container .dsk-grid-x-2-w-10 {
    grid-column: 2 / span 10;
  }
  .container .dsk-grid-x-2-w-11 {
    grid-column: 2 / span 11;
  }
  .container .dsk-grid-y-2-h-1 {
    grid-row: 2 / span 1;
  }
  .container .dsk-grid-y-2-h-2 {
    grid-row: 2 / span 2;
  }
  .container .dsk-grid-y-2-h-3 {
    grid-row: 2 / span 3;
  }
  .container .dsk-grid-y-2-h-4 {
    grid-row: 2 / span 4;
  }
  .container .dsk-grid-y-2-h-5 {
    grid-row: 2 / span 5;
  }
  .container .dsk-grid-y-2-h-6 {
    grid-row: 2 / span 6;
  }
  .container .dsk-grid-y-2-h-7 {
    grid-row: 2 / span 7;
  }
  .container .dsk-grid-y-2-h-8 {
    grid-row: 2 / span 8;
  }
  .container .dsk-grid-y-2-h-9 {
    grid-row: 2 / span 9;
  }
  .container .dsk-grid-y-2-h-10 {
    grid-row: 2 / span 10;
  }
  .container .dsk-grid-y-2-h-11 {
    grid-row: 2 / span 11;
  }
  .container .dsk-grid-x-3 {
    grid-column-start: 3;
  }
  .container .dsk-grid-y-3 {
    grid-row-start: 3;
  }
  .container .dsk-grid-x-3-w-1 {
    grid-column: 3 / span 1;
  }
  .container .dsk-grid-x-3-w-2 {
    grid-column: 3 / span 2;
  }
  .container .dsk-grid-x-3-w-3 {
    grid-column: 3 / span 3;
  }
  .container .dsk-grid-x-3-w-4 {
    grid-column: 3 / span 4;
  }
  .container .dsk-grid-x-3-w-5 {
    grid-column: 3 / span 5;
  }
  .container .dsk-grid-x-3-w-6 {
    grid-column: 3 / span 6;
  }
  .container .dsk-grid-x-3-w-7 {
    grid-column: 3 / span 7;
  }
  .container .dsk-grid-x-3-w-8 {
    grid-column: 3 / span 8;
  }
  .container .dsk-grid-x-3-w-9 {
    grid-column: 3 / span 9;
  }
  .container .dsk-grid-x-3-w-10 {
    grid-column: 3 / span 10;
  }
  .container .dsk-grid-y-3-h-1 {
    grid-row: 3 / span 1;
  }
  .container .dsk-grid-y-3-h-2 {
    grid-row: 3 / span 2;
  }
  .container .dsk-grid-y-3-h-3 {
    grid-row: 3 / span 3;
  }
  .container .dsk-grid-y-3-h-4 {
    grid-row: 3 / span 4;
  }
  .container .dsk-grid-y-3-h-5 {
    grid-row: 3 / span 5;
  }
  .container .dsk-grid-y-3-h-6 {
    grid-row: 3 / span 6;
  }
  .container .dsk-grid-y-3-h-7 {
    grid-row: 3 / span 7;
  }
  .container .dsk-grid-y-3-h-8 {
    grid-row: 3 / span 8;
  }
  .container .dsk-grid-y-3-h-9 {
    grid-row: 3 / span 9;
  }
  .container .dsk-grid-y-3-h-10 {
    grid-row: 3 / span 10;
  }
  .container .dsk-grid-x-4 {
    grid-column-start: 4;
  }
  .container .dsk-grid-y-4 {
    grid-row-start: 4;
  }
  .container .dsk-grid-x-4-w-1 {
    grid-column: 4 / span 1;
  }
  .container .dsk-grid-x-4-w-2 {
    grid-column: 4 / span 2;
  }
  .container .dsk-grid-x-4-w-3 {
    grid-column: 4 / span 3;
  }
  .container .dsk-grid-x-4-w-4 {
    grid-column: 4 / span 4;
  }
  .container .dsk-grid-x-4-w-5 {
    grid-column: 4 / span 5;
  }
  .container .dsk-grid-x-4-w-6 {
    grid-column: 4 / span 6;
  }
  .container .dsk-grid-x-4-w-7 {
    grid-column: 4 / span 7;
  }
  .container .dsk-grid-x-4-w-8 {
    grid-column: 4 / span 8;
  }
  .container .dsk-grid-x-4-w-9 {
    grid-column: 4 / span 9;
  }
  .container .dsk-grid-y-4-h-1 {
    grid-row: 4 / span 1;
  }
  .container .dsk-grid-y-4-h-2 {
    grid-row: 4 / span 2;
  }
  .container .dsk-grid-y-4-h-3 {
    grid-row: 4 / span 3;
  }
  .container .dsk-grid-y-4-h-4 {
    grid-row: 4 / span 4;
  }
  .container .dsk-grid-y-4-h-5 {
    grid-row: 4 / span 5;
  }
  .container .dsk-grid-y-4-h-6 {
    grid-row: 4 / span 6;
  }
  .container .dsk-grid-y-4-h-7 {
    grid-row: 4 / span 7;
  }
  .container .dsk-grid-y-4-h-8 {
    grid-row: 4 / span 8;
  }
  .container .dsk-grid-y-4-h-9 {
    grid-row: 4 / span 9;
  }
  .container .dsk-grid-x-5 {
    grid-column-start: 5;
  }
  .container .dsk-grid-y-5 {
    grid-row-start: 5;
  }
  .container .dsk-grid-x-5-w-1 {
    grid-column: 5 / span 1;
  }
  .container .dsk-grid-x-5-w-2 {
    grid-column: 5 / span 2;
  }
  .container .dsk-grid-x-5-w-3 {
    grid-column: 5 / span 3;
  }
  .container .dsk-grid-x-5-w-4 {
    grid-column: 5 / span 4;
  }
  .container .dsk-grid-x-5-w-5 {
    grid-column: 5 / span 5;
  }
  .container .dsk-grid-x-5-w-6 {
    grid-column: 5 / span 6;
  }
  .container .dsk-grid-x-5-w-7 {
    grid-column: 5 / span 7;
  }
  .container .dsk-grid-x-5-w-8 {
    grid-column: 5 / span 8;
  }
  .container .dsk-grid-y-5-h-1 {
    grid-row: 5 / span 1;
  }
  .container .dsk-grid-y-5-h-2 {
    grid-row: 5 / span 2;
  }
  .container .dsk-grid-y-5-h-3 {
    grid-row: 5 / span 3;
  }
  .container .dsk-grid-y-5-h-4 {
    grid-row: 5 / span 4;
  }
  .container .dsk-grid-y-5-h-5 {
    grid-row: 5 / span 5;
  }
  .container .dsk-grid-y-5-h-6 {
    grid-row: 5 / span 6;
  }
  .container .dsk-grid-y-5-h-7 {
    grid-row: 5 / span 7;
  }
  .container .dsk-grid-y-5-h-8 {
    grid-row: 5 / span 8;
  }
  .container .dsk-grid-x-6 {
    grid-column-start: 6;
  }
  .container .dsk-grid-y-6 {
    grid-row-start: 6;
  }
  .container .dsk-grid-x-6-w-1 {
    grid-column: 6 / span 1;
  }
  .container .dsk-grid-x-6-w-2 {
    grid-column: 6 / span 2;
  }
  .container .dsk-grid-x-6-w-3 {
    grid-column: 6 / span 3;
  }
  .container .dsk-grid-x-6-w-4 {
    grid-column: 6 / span 4;
  }
  .container .dsk-grid-x-6-w-5 {
    grid-column: 6 / span 5;
  }
  .container .dsk-grid-x-6-w-6 {
    grid-column: 6 / span 6;
  }
  .container .dsk-grid-x-6-w-7 {
    grid-column: 6 / span 7;
  }
  .container .dsk-grid-y-6-h-1 {
    grid-row: 6 / span 1;
  }
  .container .dsk-grid-y-6-h-2 {
    grid-row: 6 / span 2;
  }
  .container .dsk-grid-y-6-h-3 {
    grid-row: 6 / span 3;
  }
  .container .dsk-grid-y-6-h-4 {
    grid-row: 6 / span 4;
  }
  .container .dsk-grid-y-6-h-5 {
    grid-row: 6 / span 5;
  }
  .container .dsk-grid-y-6-h-6 {
    grid-row: 6 / span 6;
  }
  .container .dsk-grid-y-6-h-7 {
    grid-row: 6 / span 7;
  }
  .container .dsk-grid-x-7 {
    grid-column-start: 7;
  }
  .container .dsk-grid-y-7 {
    grid-row-start: 7;
  }
  .container .dsk-grid-x-7-w-1 {
    grid-column: 7 / span 1;
  }
  .container .dsk-grid-x-7-w-2 {
    grid-column: 7 / span 2;
  }
  .container .dsk-grid-x-7-w-3 {
    grid-column: 7 / span 3;
  }
  .container .dsk-grid-x-7-w-4 {
    grid-column: 7 / span 4;
  }
  .container .dsk-grid-x-7-w-5 {
    grid-column: 7 / span 5;
  }
  .container .dsk-grid-x-7-w-6 {
    grid-column: 7 / span 6;
  }
  .container .dsk-grid-y-7-h-1 {
    grid-row: 7 / span 1;
  }
  .container .dsk-grid-y-7-h-2 {
    grid-row: 7 / span 2;
  }
  .container .dsk-grid-y-7-h-3 {
    grid-row: 7 / span 3;
  }
  .container .dsk-grid-y-7-h-4 {
    grid-row: 7 / span 4;
  }
  .container .dsk-grid-y-7-h-5 {
    grid-row: 7 / span 5;
  }
  .container .dsk-grid-y-7-h-6 {
    grid-row: 7 / span 6;
  }
  .container .dsk-grid-x-8 {
    grid-column-start: 8;
  }
  .container .dsk-grid-y-8 {
    grid-row-start: 8;
  }
  .container .dsk-grid-x-8-w-1 {
    grid-column: 8 / span 1;
  }
  .container .dsk-grid-x-8-w-2 {
    grid-column: 8 / span 2;
  }
  .container .dsk-grid-x-8-w-3 {
    grid-column: 8 / span 3;
  }
  .container .dsk-grid-x-8-w-4 {
    grid-column: 8 / span 4;
  }
  .container .dsk-grid-x-8-w-5 {
    grid-column: 8 / span 5;
  }
  .container .dsk-grid-y-8-h-1 {
    grid-row: 8 / span 1;
  }
  .container .dsk-grid-y-8-h-2 {
    grid-row: 8 / span 2;
  }
  .container .dsk-grid-y-8-h-3 {
    grid-row: 8 / span 3;
  }
  .container .dsk-grid-y-8-h-4 {
    grid-row: 8 / span 4;
  }
  .container .dsk-grid-y-8-h-5 {
    grid-row: 8 / span 5;
  }
  .container .dsk-grid-x-9 {
    grid-column-start: 9;
  }
  .container .dsk-grid-y-9 {
    grid-row-start: 9;
  }
  .container .dsk-grid-x-9-w-1 {
    grid-column: 9 / span 1;
  }
  .container .dsk-grid-x-9-w-2 {
    grid-column: 9 / span 2;
  }
  .container .dsk-grid-x-9-w-3 {
    grid-column: 9 / span 3;
  }
  .container .dsk-grid-x-9-w-4 {
    grid-column: 9 / span 4;
  }
  .container .dsk-grid-y-9-h-1 {
    grid-row: 9 / span 1;
  }
  .container .dsk-grid-y-9-h-2 {
    grid-row: 9 / span 2;
  }
  .container .dsk-grid-y-9-h-3 {
    grid-row: 9 / span 3;
  }
  .container .dsk-grid-y-9-h-4 {
    grid-row: 9 / span 4;
  }
  .container .dsk-grid-x-10 {
    grid-column-start: 10;
  }
  .container .dsk-grid-y-10 {
    grid-row-start: 10;
  }
  .container .dsk-grid-x-10-w-1 {
    grid-column: 10 / span 1;
  }
  .container .dsk-grid-x-10-w-2 {
    grid-column: 10 / span 2;
  }
  .container .dsk-grid-x-10-w-3 {
    grid-column: 10 / span 3;
  }
  .container .dsk-grid-y-10-h-1 {
    grid-row: 10 / span 1;
  }
  .container .dsk-grid-y-10-h-2 {
    grid-row: 10 / span 2;
  }
  .container .dsk-grid-y-10-h-3 {
    grid-row: 10 / span 3;
  }
  .container .dsk-grid-x-11 {
    grid-column-start: 11;
  }
  .container .dsk-grid-y-11 {
    grid-row-start: 11;
  }
  .container .dsk-grid-x-11-w-1 {
    grid-column: 11 / span 1;
  }
  .container .dsk-grid-x-11-w-2 {
    grid-column: 11 / span 2;
  }
  .container .dsk-grid-y-11-h-1 {
    grid-row: 11 / span 1;
  }
  .container .dsk-grid-y-11-h-2 {
    grid-row: 11 / span 2;
  }
  .container .dsk-grid-x-12 {
    grid-column-start: 12;
  }
  .container .dsk-grid-y-12 {
    grid-row-start: 12;
  }
  .container .dsk-grid-x-12-w-1 {
    grid-column: 12 / span 1;
  }
  .container .dsk-grid-y-12-h-1 {
    grid-row: 12 / span 1;
  }

  .section .container .dsk-flex-w-full {
    flex-basis: 100%;
  }
  .section .container .dsk-flex-w-half {
    flex-basis: 50%;
  }
  .section .container .dsk-flex-w-1-3 {
    flex-basis: 33.3333333333%;
  }
  .section .container .dsk-flex-w-2-3 {
    flex-basis: 66.6666666667%;
  }
  .section .container .dsk-flex-w-1-4 {
    flex-basis: 25%;
  }
  .section .container .dsk-flex-w-3-4 {
    flex-basis: 75%;
  }
  .section .container .dsk-flex-w-1-5 {
    flex-basis: 20%;
  }
  .section .container .dsk-flex-w-2-5 {
    flex-basis: 40%;
  }
  .section .container .dsk-flex-w-3-5 {
    flex-basis: 60%;
  }
  .section .container .dsk-flex-w-4-5 {
    flex-basis: 80%;
  }
  .section .container .dsk-flex-w-1-6 {
    flex-basis: 16.6666666667%;
  }
  .section .container .dsk-flex-w-2-6 {
    flex-basis: 33.3333333333%;
  }
  .section .container .dsk-flex-w-4-6 {
    flex-basis: 66.6666666667%;
  }
  .section .container .dsk-flex-w-5-6 {
    flex-basis: 83.3333333333%;
  }
  .section .container .dsk-flex-w-1-7 {
    flex-basis: 14.2857142857%;
  }
  .section .container .dsk-flex-w-2-7 {
    flex-basis: 28.5714285714%;
  }
  .section .container .dsk-flex-w-3-7 {
    flex-basis: 42.8571428571%;
  }
  .section .container .dsk-flex-w-4-7 {
    flex-basis: 57.1428571429%;
  }
  .section .container .dsk-flex-w-5-7 {
    flex-basis: 71.4285714286%;
  }
  .section .container .dsk-flex-w-6-7 {
    flex-basis: 85.7142857143%;
  }
  .section .container .dsk-flex-w-1-8 {
    flex-basis: 12.5%;
  }
  .section .container .dsk-flex-w-2-8 {
    flex-basis: 25%;
  }
  .section .container .dsk-flex-w-3-8 {
    flex-basis: 37.5%;
  }
  .section .container .dsk-flex-w-5-8 {
    flex-basis: 62.5%;
  }
  .section .container .dsk-flex-w-6-8 {
    flex-basis: 75%;
  }
  .section .container .dsk-flex-w-7-8 {
    flex-basis: 87.5%;
  }
  .section .container .dsk-flex-w-1-9 {
    flex-basis: 11.1111111111%;
  }
  .section .container .dsk-flex-w-2-9 {
    flex-basis: 22.2222222222%;
  }
  .section .container .dsk-flex-w-3-9 {
    flex-basis: 33.3333333333%;
  }
  .section .container .dsk-flex-w-4-9 {
    flex-basis: 44.4444444444%;
  }
  .section .container .dsk-flex-w-5-9 {
    flex-basis: 55.5555555556%;
  }
  .section .container .dsk-flex-w-6-9 {
    flex-basis: 66.6666666667%;
  }
  .section .container .dsk-flex-w-7-9 {
    flex-basis: 77.7777777778%;
  }
  .section .container .dsk-flex-w-8-9 {
    flex-basis: 88.8888888889%;
  }
  .section .container .dsk-flex-w-1-10 {
    flex-basis: 10%;
  }
  .section .container .dsk-flex-w-2-10 {
    flex-basis: 20%;
  }
  .section .container .dsk-flex-w-3-10 {
    flex-basis: 30%;
  }
  .section .container .dsk-flex-w-4-10 {
    flex-basis: 40%;
  }
  .section .container .dsk-flex-w-6-10 {
    flex-basis: 60%;
  }
  .section .container .dsk-flex-w-7-10 {
    flex-basis: 70%;
  }
  .section .container .dsk-flex-w-8-10 {
    flex-basis: 80%;
  }
  .section .container .dsk-flex-w-9-10 {
    flex-basis: 90%;
  }
  .section .container .dsk-flex-w-1-11 {
    flex-basis: 9.0909090909%;
  }
  .section .container .dsk-flex-w-2-11 {
    flex-basis: 18.1818181818%;
  }
  .section .container .dsk-flex-w-3-11 {
    flex-basis: 27.2727272727%;
  }
  .section .container .dsk-flex-w-4-11 {
    flex-basis: 36.3636363636%;
  }
  .section .container .dsk-flex-w-5-11 {
    flex-basis: 45.4545454545%;
  }
  .section .container .dsk-flex-w-6-11 {
    flex-basis: 54.5454545455%;
  }
  .section .container .dsk-flex-w-7-11 {
    flex-basis: 63.6363636364%;
  }
  .section .container .dsk-flex-w-8-11 {
    flex-basis: 72.7272727273%;
  }
  .section .container .dsk-flex-w-9-11 {
    flex-basis: 81.8181818182%;
  }
  .section .container .dsk-flex-w-10-11 {
    flex-basis: 90.9090909091%;
  }
  .section .container .dsk-flex-w-1-12 {
    flex-basis: 8.3333333333%;
  }
  .section .container .dsk-flex-w-2-12 {
    flex-basis: 16.6666666667%;
  }
  .section .container .dsk-flex-w-3-12 {
    flex-basis: 25%;
  }
  .section .container .dsk-flex-w-4-12 {
    flex-basis: 33.3333333333%;
  }
  .section .container .dsk-flex-w-5-12 {
    flex-basis: 41.6666666667%;
  }
  .section .container .dsk-flex-w-7-12 {
    flex-basis: 58.3333333333%;
  }
  .section .container .dsk-flex-w-8-12 {
    flex-basis: 66.6666666667%;
  }
  .section .container .dsk-flex-w-9-12 {
    flex-basis: 75%;
  }
  .section .container .dsk-flex-w-10-12 {
    flex-basis: 83.3333333333%;
  }
  .section .container .dsk-flex-w-11-12 {
    flex-basis: 91.6666666667%;
  }

  .dsk-section--hidden {
    display: none;
  }
}